@model PaymentMaster

<form asp-controller="Payment"
      asp-action="SaveEdit"
      id="frmPaymentMaster"
      data-ajax-begin="Begin"
      data-ajax-success="OnSuccess"
      data-ajax-complete="Complete"
      data-ajax="true"
      data-ajax-method="POST"
      enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <section class="content" disabled>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Distributor Information</h3>
                        </div>
                        <div class="card-body" style="padding: 10px 0px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Name:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorName</strong></span>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>City:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.City</strong></span>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Code:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Distributor Current Balance and Total Pending Value of Orders</h3>
                        </div>
                        <div class="card-body" style="padding: 10px 0px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>SAMI Balance:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@SessionHelper.DistributorBalance.SAMI</strong></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Healthtek Balance:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@SessionHelper.DistributorBalance.HealthTek</strong></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Phytek Balance:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@SessionHelper.DistributorBalance.PhyTek</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Total Pending Value:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.SAMITotalPendingValue</strong></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Total Pending Value:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.HealthTekTotalPendingValue</strong></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Total Pending Value:</h6>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.PhytekTotalPendingValue</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Payment Value</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Deposit Date</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" id="DepositDate" data-target-input="nearest">
                                        <input type="text" asp-for="DepositDate" value="@(Model.Id == 0 ? DateTime.Now.ToShortDateString() : Convert.ToDateTime(Model.DepositDate).ToShortDateString())" data-target="#DepositDate" class="form-control" />
                                        <div class="input-group-append" data-target="#DepositDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Value Clearing Date</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" id="ValueClearingDate" data-target-input="nearest">
                                        <input type="text" asp-for="ValueClearingDate" value="@(Model.Id == 0 ? DateTime.Now.ToShortDateString() : Convert.ToDateTime(Model.ValueClearingDate).ToShortDateString())" data-target="#ValueClearingDate" class="form-control" />
                                        <div class="input-group-append" data-target="#ValueClearingDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div><br />
                            <div class=" row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Mode of Payment<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="PaymentModeId" asp-items="@(new SelectList(Model.PaymentModeList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="PaymentModeId" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="CompanyId" asp-items="@(new SelectList(Model.CompanyList, "Value", "Text"))" class="form-control select2" id="ddlCompany">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Payment Mode No.<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="PaymentModeNo" class="form-control" />
                                    <span asp-validation-for="PaymentModeNo" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Amount<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="number" asp-for="Amount" class="form-control" id="Amount" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                    <span class="text-info" id="AmountInWords"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Depositor Bank Name<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="DepositorBankName" asp-items="@(new SelectList(Model.DepostitorBankList, "Value", "Text"))" class="form-control select2 ddlDepostitorBank">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="DepositorBankName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Depositor Bank Code<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="DepositorBankCode" id="DepositorBankCode" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="DepositorBankCode" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company Bank Name<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="CompanyBankName" asp-items="@(new SelectList(Model.CompanyListBankList, "Value", "Text"))" class="form-control select2 ddlCompanyBank">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="CompanyBankName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company Bank Code<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="CompanyBankCode" id="CompanyBankCode" class="form-control" readonly="readonly" />
                                    <span asp-validation-for="CompanyBankCode" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Attachment</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" asp-for="FormFile" class="form-control custom-file-input" id="customFile" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*" />
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                    <span class="caption">
                                        <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model.File != null ? Model.File : "")" target="_blank">@(Model.File != null ? Model.File.Split('_')[1] : "")</a>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    @*<button data-ajax-update="#divform"
                                          data-ajax="true"
                                          data-ajax-method="GET"
                                          asp-controller="Payment" asp-action="List"
                                          type="submit" class="btn btn-success">
                                         Submit & Add More Payment
                                        </button>*@
                                </div>
                                <div class="col-6 pull-right">
                                    <button type="submit" onclick="Save();" class="btn btn-success mr-1 float-right @(Model.Id == 0 ? null : "d-none")">
                                        Submit
                                    </button>
                                    <a asp-controller="Payment" asp-action="Index" class="btn btn-secondary float-right mr-3">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>

    //$('.custom-file-input').on("change", function () {
    //    $('#customFile').val($(this).val().split("\\").pop());
    //});

    //File upload
    $('.custom-file-input').on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).next('.custom-file-label').html(fileName);
    });

    $(document).ready(function () {

        $('.select2').select2();

        //Date range picker
        $('.date').datetimepicker({
            format: 'L',
            todayHighlight: true,
            maxDate: moment()
        });

        $('body').on('keyup', '#Amount', function () {
            $('#AmountInWords').html(inWords($('#Amount').val()));
        });

        $('body').on('change', '#ddlCompany', function () {
            
            var ddlCompany = $('#ddlCompany :selected');
            var text = $(ddlCompany).text();
            var value = $(ddlCompany).val();
            var params = {
                ComplaintCategoryId: (value === undefined || value == "" || value == null || value.length <= 0 ? 0 : value)
            }
            $(".ddlDepostitorBank option").remove();
            var ddlDepostitorBank = $(".ddlDepostitorBank");
            bindDropDownList(ddlDepostitorBank, "/Bank/DropDownBankList", params, "0");
            $('.ddlDepostitorBank').change();

            $(".ddlCompanyBank option").remove();
            var ddlCompanyBank = $(".ddlCompanyBank");
            bindDropDownList(ddlCompanyBank, "/Bank/DropDownBankList", params, "0");
            $('.ddlCompanyBank').change();
        });

        $('body').on('change', '.ddlDepostitorBank', function () {
            $.ajax({
                type: "GET",
                url: "/Bank/GetBranchCode",
                contentType: "application/json",
                dataType: "json",
                data: { Id: $(".ddlDepostitorBank").val()},
                async: false,
                success: function (response) {
                    $('#DepositorBankCode').val(response[0]);
                },
            });
        });

        $('body').on('change', '.ddlCompanyBank', function () {
            $.ajax({
                type: "GET",
                url: "/Bank/GetBranchCode",
                contentType: "application/json",
                dataType: "json",
                data: { Id: $(".ddlCompanyBank").val() },
                async: false,
                success: function (response) {
                    $('#CompanyBankCode').val(response[0]);
                },
            });
        });

    });

</script>
