@model PaymentMaster
@{ ViewBag.Title = "Add Payment | Distributor Portal"; }

<style type="text/css">
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }

    .card-header {
        padding: 5px 15px 0 15px
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>

<!-- Main content -->
<div class="content-wrapper">
    <section class="content-header" disabled>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form asp-controller="Payment"
                          asp-action="SaveEdit"
                          id="frmPaymentMaster"
                          data-ajax-begin="Begin"
                          data-ajax-success="OnSuccess"
                          data-ajax-complete="Complete"
                          data-ajax="true"
                          data-ajax-method="POST"
                          autocomplete="off"
                          enctype="multipart/form-data">
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Distributor Information</h3>
                                    </div>
                                    <div class="card-body" style="height: 170px;">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Name:</h6>
                                            </div>
                                            <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorName</strong></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                                <h6>City:</h6>
                                            </div>
                                            <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.City</strong></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Code:</h6>
                                            </div>
                                            <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="card card-primary h-90">
                                    <div class="card-header">
                                        <h3 class="card-title">Pending Values</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body p-0" id="UpdateOrderValueId">
                                        <partial name="PaymentValue" model="Model.PaymentValueViewModel" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Payment Value</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Deposit Date</h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" asp-for="DepositDate" value="@(Model.Id == 0 ? null : Model.DepositDate)" readonly="readonly" id="DepositDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#DepositDate" data-toggle="datepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Value Clearing Date</h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" asp-for="ValueClearingDate" value="@(Model.Id == 0 ? null : Model.ValueClearingDate)" readonly="readonly" id="ValueClearingDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ValueClearingDate" data-toggle="datepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br />
                                        <div class=" row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Mode of Payment<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <select asp-for="PaymentModeId" asp-items="@(new SelectList(Model.PaymentModeList, "Value", "Text"))" class="form-control select2">
                                                    <option value="">--Select option--</option>
                                                </select><br />
                                                <span asp-validation-for="PaymentModeId" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Company<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <select asp-for="CompanyId" asp-items="@(new SelectList(Model.CompanyList, "Value", "Text"))" class="form-control select2" id="ddlCompany">
                                                    <option value="">--Select option--</option>
                                                </select><br />
                                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Payment Mode No.<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="PaymentModeNo" class="form-control" />
                                                <span asp-validation-for="PaymentModeNo" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Amount<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <input type="number" asp-for="Amount" min="0" max="9999999999" oninput="validity.valid||(value='');" class="form-control" id="Amount" />
                                                <span asp-validation-for="Amount" class="text-danger"></span>
                                                <span class="text-info" id="AmountInWords"></span>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Depositor Bank Name<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <select asp-for="DepositorBankName" asp-items="@(new SelectList(Model.DepostitorBankList, "Value", "Text"))" class="form-control select2 ddlDepostitorBank">
                                                    <option value="">--Select option--</option>
                                                </select><br />
                                                <span asp-validation-for="DepositorBankName" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Depositor Bank Code<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="DepositorBankCode" id="DepositorBankCode" class="form-control" />
                                                <span asp-validation-for="DepositorBankCode" class="text-danger"></span>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Company Bank Name<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <select asp-for="CompanyBankName" asp-items="@(new SelectList(Model.CompanyBankList, "Value", "Text"))" class="form-control select2 ddlCompanyBank">
                                                    <option value="">--Select option--</option>
                                                </select><br />
                                                <span asp-validation-for="CompanyBankName" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Company Bank Code<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="CompanyBankCode" id="CompanyBankCode" class="form-control" readonly="readonly" />
                                                <span asp-validation-for="CompanyBankCode" class="text-danger"></span>
                                            </div>
                                        </div><br />
                                        <input type="text" asp-for="File" style="width: 0.01em; height: 0.01em;" readonly="readonly" />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Attachment<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" asp-for="FormFile" class="form-control custom-file-input" id="customFile" accept="application/pdf, image/*" />
                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                    <span asp-validation-for="File" class="text-danger"></span>
                                                </div>
                                                <span class="caption">
                                                    <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model.File != null ? Model.File : "")" target="_blank">@(Model.File != null ? Model.File.Split('_')[1] : "")</a>
                                                </span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6 pull-right">
                                                <button type="button" onclick="SavePayment();" class="btn btn-success mr-1 float-right @(Model.Id == 0 ? null : "d-none")">
                                                    Submit
                                                </button>
                                                <a asp-controller="Payment" asp-action="Index" class="btn btn-secondary float-right mr-3">
                                                    Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    $('#customFile').on("change", function () {
        if (this.files[0].size > 5242880) {
        }
        else {
            $('#File').val($(this).val().split("\\").pop());
        }
    });

    $(document).ready(function () {

        $('.select2').select2();

        $('body').on('keyup change', '#Amount', function () {
            $('#AmountInWords').html(inWords($('#Amount').val()));
        });

        $('body').on('change', '#ddlCompany', function () {

            var ddlCompany = $('#ddlCompany :selected');
            var text = $(ddlCompany).text();
            var value = $(ddlCompany).val();
            var params = {
                id: (value === undefined || value == "" || value == null || value.length <= 0 ? 0 : value)
            }
            $(".ddlDepostitorBank option").remove();
            var ddlDepostitorBank = $(".ddlDepostitorBank");
            bindDropDownList(ddlDepostitorBank, "/Bank/DropDownBankList", params, "0");
            $('.ddlDepostitorBank').change();

            $(".ddlCompanyBank option").remove();
            var ddlCompanyBank = $(".ddlCompanyBank");
            bindDropDownList(ddlCompanyBank, "/Bank/DropDownBankList", params, "0");
            $('.ddlCompanyBank').change();
        });

        //$('body').on('change', '.ddlDepostitorBank', function () {
        //    $.ajax({
        //        type: "GET",
        //        url: "/Bank/GetBranchCode",
        //        contentType: "application/json",
        //        dataType: "json",
        //        data: { Id: $(".ddlDepostitorBank").val() },
        //        async: false,
        //        success: function (response) {
        //            $('#DepositorBankCode').val(response[0]);
        //        },
        //    });
        //});

        $('body').on('change', '.ddlCompanyBank', function () {
            $.ajax({
                type: "GET",
                url: "/Bank/GetBranchCode",
                contentType: "application/json",
                dataType: "json",
                data: { id: $(".ddlCompanyBank").val() },
                async: false,
                success: function (response) {
                    $('#CompanyBankCode').val(response[0]);
                },
            });
        });

    });

    function SavePayment() {

        var form = event.target.form; // storing the form
        $(form).each(function () {
            $(this).children().find('textarea').each(function () {
                $(this).val($(this).val().trim());
            });
            $(this).children().find('input[type="text"]').each(function () {
                $(this).val($(this).val().trim());
            });
        });

        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            Swal.fire({
                title: "Are you sure you want to continue?",
                type: "warning",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }).then(function (result) {
                if (result.value) {
                    $('#Spinner').show();
                    $(form).submit();
                }
            });
        }
    }

</script>
