@model PaymentMaster
@{ ViewBag.Title = "View Payment | Distributor Portal"; }

<style type="text/css">
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }

    .card-header {
        padding: 5px 15px 0px 15px
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Distributor Information</h3>
                        </div>
                        <div class="card-body" style="height: 170px;">
                            <div class="row">
                                <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Name:</h6>
                                </div>
                                <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorName</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                    <h6>City:</h6>
                                </div>
                                <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.City</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Code:</h6>
                                </div>
                                <div class="col-lg-9 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card card-primary h-90">
                        <div class="card-header">
                            <h3 class="card-title">Pending Values</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body p-0" id="UpdateOrderValueId">
                            <partial name="PaymentValue" model="Model.PaymentValueViewModel" />
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Payment Value</h3>
                            @if (Model.Id > 0)
                            {
                                @if (Model.Status == PaymentStatus.Verified)
                                {
                                    <span class="badge badge-success pull-right" style="margin-left:5px;">@Model.Status</span>
                                }
                                else if (Model.Status == PaymentStatus.Unverified)
                                {
                                    <span class="badge badge-warning float-left" style="margin-left:5px;">@Model.Status</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger float-left" style="margin-left:5px;">@Model.Status</span>
                                }
                            }
                            <span class="float-right"><strong>Payment No: @string.Format("{0:1000000000}", Model.Id)</strong></span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Deposit Date</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" id="DepositDate" data-target-input="nearest">
                                        <input type="text" asp-for="DepositDate" value="@(Model.Id == 0 ? null : Model.DepositDate)" data-target="#DepositDate" class="form-control datetimepicker-input" />
                                        <div class="input-group-append" data-target="#DepositDate" data-toggle="datepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Value Clearing Date</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" id="ValueClearingDate" data-target-input="nearest">
                                        <input type="text" asp-for="ValueClearingDate" value="@(Model.Id == 0 ? null : Model.ValueClearingDate)" data-target="#ValueClearingDate" class="form-control datetimepicker-input" />
                                        <div class="input-group-append" data-target="#ValueClearingDate" data-toggle="datepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div><br />
                            <div class=" row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Mode of Payment<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="PaymentModeId" asp-items="@(new SelectList(Model.PaymentModeList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="PaymentModeId" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="CompanyId" asp-items="@(new SelectList(Model.CompanyList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Payment Mode No.<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="PaymentModeNo" class="form-control" />
                                    <span asp-validation-for="PaymentModeNo" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Amount<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="number" asp-for="Amount" class="form-control" id="Amount" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                    <span class="text-info" id="AmountInWords"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Depositor Bank Name<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="DepositorBankName" asp-items="@(new SelectList(Model.DepostitorBankList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="DepositorBankName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Depositor Bank Code<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="DepositorBankCode" class="form-control" />
                                    <span asp-validation-for="DepositorBankCode" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company Bank Name<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="CompanyBankName" asp-items="@(new SelectList(Model.CompanyBankList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="CompanyBankName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Company's Bank Code<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="CompanyBankCode" class="form-control" />
                                    <span asp-validation-for="CompanyBankCode" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <h6>Attachment</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <span class="caption">
                                        <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model.File != null ? Model.File : "")" target="_blank">@(Model.File != null ? Model.File.Split('_')[1] : "")</a>
                                    </span>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Remarks))
                                {
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <h6>Remarks</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <textarea asp-for="Remarks" class="form-control"></textarea>
                                    </div>
                                }
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 pull-right">
                                    <a asp-controller="Payment" asp-action="Index" class="btn btn-secondary float-right mr-3">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    $(document).ready(function () {

        $(".container-fluid :input, input-group-append").not("[name=btnSubmit]").attr("disabled", true);
        $('.select2').select2();
        $('#AmountInWords').html(inWords(@Model.Amount));

        $('.date').datetimepicker({
            format: 'L',
            todayHighlight: true,
            maxDate: moment(),
        });
    });

    function Delete(e) {
        Swal.fire({
            title: "Are you sure you want to verify payment?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: true,
            showLoaderOnConfirm: true
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("VerifyPayment", "Payment")/' + e.id, null, function (data) {
                    if (data) {
                        Toast.fire({ icon: 'success', title: '@NotificationMessage.DeletedSuccessfully' });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else {
                        Toast.fire({ icon: 'error', title: '@NotificationMessage.ErrorOccurred' });
                    }
                });
            }
        });
    }

</script>
