@model PaymentMaster

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary defaultColor">
                    <div class="card-header">
                        <h3 class="card-title">Distributor Information</h3>
                    </div>
                    <div class="card-body" style="padding: 10px 0px 0px 20px;">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                <h6>Name:</h6>
                            </div>
                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                <span><strong>@Model.Distributor.DistributorName</strong></span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                <h6>City:</h6>
                            </div>
                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                <span><strong>@Model.Distributor.City</strong></span>
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                <h6>Code:</h6>
                            </div>
                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Payment Value</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Deposit Date</h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group date" id="DepositDate" data-target-input="nearest">
                                    <input type="text" asp-for="DepositDate" value="@(Model.Id == 0 ? DateTime.Now.ToShortDateString() : Convert.ToDateTime(Model.DepositDate).ToShortDateString())" data-target="#DepositDate" class="form-control" />
                                    <div class="input-group-append" data-target="#DepositDate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Value Clearing Date</h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group date" id="ValueClearingDate" data-target-input="nearest">
                                    <input type="text" asp-for="ValueClearingDate" value="@(Model.Id == 0 ? DateTime.Now.ToShortDateString() : Convert.ToDateTime(Model.ValueClearingDate).ToShortDateString())" data-target="#ValueClearingDate" class="form-control" />
                                    <div class="input-group-append" data-target="#ValueClearingDate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class=" row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Mode of Payment<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <select asp-for="PaymentModeId" asp-items="@(new SelectList(Model.PaymentModeList, "Value", "Text"))" class="form-control select2">
                                    <option value="">--Select option--</option>
                                </select><br />
                                <span asp-validation-for="PaymentModeId" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Company<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <select asp-for="CompanyId" asp-items="@(new SelectList(Model.CompanyList, "Value", "Text"))" class="form-control select2">
                                    <option value="">--Select option--</option>
                                </select><br />
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Payment Mode No.<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="text" asp-for="PaymentModeNo" class="form-control" />
                                <span asp-validation-for="PaymentModeNo" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Amount<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="number" asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Depositor's Bank Name<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <select asp-for="DepositorBankName" asp-items="@(new SelectList(Model.BankList, "Value", "Text"))" class="form-control select2">
                                    <option value="">--Select option--</option>
                                </select><br />
                                <span asp-validation-for="DepositorBankName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Depositor's Bank Code<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="text" asp-for="DepositorBankCode" class="form-control" />
                                <span asp-validation-for="DepositorBankCode" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Company's Bank Name<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <select asp-for="CompanyBankName" asp-items="@(new SelectList(Model.BankList, "Value", "Text"))" class="form-control select2">
                                    <option value="">--Select option--</option>
                                </select><br />
                                <span asp-validation-for="CompanyBankName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Company's Bank Code<span class="text-danger"> * </span></h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="text" asp-for="CompanyBankCode" class="form-control" />
                                <span asp-validation-for="CompanyBankCode" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <h6>Attachment</h6>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="FormFile" class="form-control custom-file-input" id="customFile" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*" />
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                                <span class="caption">
                                    <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model.File != null ? Model.File : "")" target="_blank">@(Model.File != null ? Model.File.Split('_')[1] : "")</a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-6 pull-right">
                                @if (SessionHelper.NavigationMenu.Any(x => x.ApplicationActionId == 5 && x.ApplicationPageId == 16))
                                {
                                    <button type="button" name="btnSubmit" onclick="UpdateStatus(this, 'Payment', 'UpdateStatus', @Model.Id);" value="@PaymentStatus.Verified" class="btn btn-success float-right @(SessionHelper.LoginUser.IsDistributor || Model.Status == PaymentStatus.Verified ? "d-none" : null)">
                                        Verify
                                    </button>
                                    <button type="button" name="btnSubmit" onclick="UpdateStatus(this, 'Payment', 'UpdateStatus', @Model.Id);" value="@PaymentStatus.Reject" class="btn btn-danger float-right mr-3 @(SessionHelper.LoginUser.IsDistributor || Model.Status == PaymentStatus.Reject ? "d-none" : null)">
                                        Reject
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-6 pull-right">
                                <a asp-controller="Payment" asp-action="Index" class="btn btn-secondary float-right mr-3">
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $(".container-fluid :input, input-group-append").not("[name=btnSubmit]").attr("disabled", true);

        $('.select2').select2();
    });

     function Delete(e) {
        Swal.fire({
            title: "Are you sure you want to verify payment?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: true,
            showLoaderOnConfirm: true
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("VerifyPayment", "Payment")/' + e.id, null, function (data) {
                    if (data) {
                        Toast.fire({ icon: 'success', title: '@NotificationMessage.DeletedSuccessfully' });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else {
                        Toast.fire({ icon: 'error', title: '@NotificationMessage.ErrorOccurred' });
                    }
                });
            }
        });
    }

</script>
