@model OrderReturnMaster
@{
    ViewData["Title"] = "Return Order";
}

<style type="text/css">

    .card-header {
        padding: 5px 15px 0px 15px
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>

<!-- Main content -->
<div class="content-wrapper">
    <section class="content-header" style="padding-top: 5px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form asp-controller="OrderReturn"
                          asp-action="SaveEdit"
                          id="frmOrderReturnMaster"
                          data-ajax-begin="Begin"
                          data-ajax="true"
                          data-ajax-success="OnSuccess"
                          data-ajax-method="POST"
                          enctype="multipart/form-data">
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Distributor Information</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Name:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorName</strong></span>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>City:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.City</strong></span>
                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Code:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Details for Return Claim</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Transporter:<span class="text-danger"> *</span></h6>
                                                <input type="text" asp-for="Transporter" placeholder="Enter Transporter" id="Transporter" class="form-control" />
                                                <span asp-validation-for="Transporter" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Number:</h6>
                                                <input type="text" asp-for="TRNo" placeholder="Enter TR Number" id="TRNo" class="form-control" />
                                                <span id="ErrorTRNo" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Date:</h6>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" id="TRDate" readonly="readonly" asp-for="TRDate" value="@(Model.Id == 0 ? DateTime.Now.ToString("MM/dd/yyyy") : Convert.ToDateTime(Model.TRDate).ToString("MM/dd/yyyy"))" data-target="#TRDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#TRDate" data-toggle="datepicker" id="input-group-append-TRDate">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="TRDate" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note No:<span class="text-danger"> *</span></h6>
                                                <input type="text" asp-for="DebitNoteNo" placeholder="Enter Debit Note No" id="DebitNoteNo" class="form-control" />
                                                <span asp-validation-for="DebitNoteNo" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note Date:</h6>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" id="DebitNoteDate" readonly="readonly" asp-for="DebitNoteDate" value="@(Model.Id == 0 ? DateTime.Now.ToString("MM/dd/yyyy") : Convert.ToDateTime(Model.DebitNoteDate).ToString("MM/dd/yyyy"))" data-target="#DebitNoteDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#DebitNoteDate" data-toggle="datepicker" id="input-group-append-DebitNoteDate">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="DebitNoteDate" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row" style="width:100%;">
                                                <h6>Return Reason:<span class="text-danger"> *</span></h6>
                                                <select asp-for="OrderReturnReasonId" asp-items="Model.returnReasonList" class="form-control select2" id="ddlReturnReson">
                                                    <option value="">--Select option--</option>
                                                </select>
                                                <span asp-validation-for="OrderReturnReasonId" class="text-danger error"></span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <h6>Attachment</h6>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" asp-for="@Model.AttachmentFormFile" class="form-control custom-file-input" id="customFile" accept="application/pdf, image/*" />
                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                    <span id="ErrorAttachment" class="text-danger error"></span>
                                                </div>
                                                <span class="caption">
                                                    <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model != null & !string.IsNullOrEmpty(Model.Attachment) ? Model.Attachment : "")" target="_blank">@(Model != null & !string.IsNullOrEmpty(Model.Attachment) ? Model.Attachment.Split('_')[1] : "")</a>
                                                </span>
                                                <input type="hidden" asp-for="Attachment" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label style="margin-top: 15px;">Total Value:&nbsp;&nbsp;&nbsp; </label><strong><span id="TotalValue"></span></strong>
                                            </div>
                                            <div class="col-6 pull-right">
                                                <button type="submit" onclick="return SubmitForm(this);" name="Submit" value="@SubmitStatus.Submit" class="btn btn-success float-right">Submit</button>
                                                <button type="submit" onclick="return DraftForm(this);" name="Draft" value="@SubmitStatus.Draft" class="btn btn-info float-right mr-3">Draft</button>
                                                <a asp-controller="OrderReturn" asp-action="Index" class="btn btn-secondary float-right mr-3">Back</a>
                                                <input type="hidden" name="btnSubmit" value="" class="btn btn-success float-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary grid">
                                <div class="card-header">
                                    <h3 class="card-title">Add Products</h3>
                                </div>
                                <div class="card-body">
                                    <form asp-controller="OrderReturn"
                                          asp-action="AddProduct"
                                          id="frmOrderDetails"
                                          data-ajax="true"
                                          data-ajax-success="GetResponse"
                                          data-ajax-method="POST">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row" style="width:100%;">
                                                <h6>Product Name:<span class="text-danger"> *</span></h6>
                                                <select name="ProductId" asp-items="Model.ProductList" class="form-control select2" id="ddlProduct">
                                                    <option value="">--Select option--</option>
                                                </select>
                                                <span id="ErrorProductName" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Quantity:<span class="text-danger"> *</span></h6>
                                                <input type="text" name="Quantity" id="Quantity" placeholder="Enter Quantity" class="form-control" min="0" maxlength="6" pattern="\d*" oninput="validity.valid||(value='');" />
                                                <span id="ErrorQuantity" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>MRP:<span class="text-danger"> *</span></h6>
                                                <input type="text" name="MRP" id="MRP" placeholder="Enter MRP" class="form-control" min="0" maxlength="6" pattern="\d*" oninput="validity.valid||(value='');" />
                                                <span id="ErrorMRP" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Batch No:<span class="text-danger"> *</span></h6>
                                                <input type="text" name="BatchNo" id="BatchNo" placeholder="Enter Batch No" class="form-control" />
                                                <span id="ErrorBatchNo" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Intimation Date:<span class="text-danger"> *</span></h6>
                                                <div class="input-group date" id="IntimationDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="IntimationDate" id="txtIntimationDate" data-target="#IntimationDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#IntimationDate" data-toggle="datepicker" id="input-group-append-IntimationDate">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span id="ErrorIntimationDate" class="text-danger error"></span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Invoice No:<span class="text-danger"> *</span></h6>
                                                <input type="text" name="InvoiceNo" placeholder="Enter Invoice No" id="InvoiceNo" class="form-control" />
                                                <span id="ErrorInvoiceNo" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Invoice Date:<span class="text-danger"> *</span></h6>
                                                <div class="input-group date" id="InvoiceDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="InvoiceDate" id="txtInvoiceDate" data-target="#InvoiceDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#InvoiceDate" data-toggle="datepicker" id="input-group-append-InvoiceDate">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span id="ErrorInvoiceDate" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Mfg. Date:<span class="text-danger"> *</span></h6>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="ManufactureDate" id="ManufactureDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ManufactureDate" id="input-group-append-From" data-toggle="datepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span id="ErrorManufactureDate" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Expiry Date:<span class="text-danger"> *</span></h6>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" name="ExpiryDate" readonly="readonly" id="ExpiryDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ExpiryDate" id="input-group-append-To" data-toggle="datepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span id="ErrorExpiryDate" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <h6>Remarks:<span class="text-danger"> *</span></h6>
                                                <input type="text" name="Remarks" placeholder="Enter Remarks" id="Remarks" class="form-control" />
                                                <span id="ErrorRemarks" class="text-danger error"></span>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6></h6>
                                                <button type="submit" id="AddProducts" onclick="return AddToGrid();" class="btn btn-primary float-right" style="margin-top: 20px;">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </form><br />
                                    <div class="" id="ProductGrid">
                                        @if (Model.OrderReturnDetail.Count > 0)
                                        {
                                            <partial name="ProductGrid" model="Model.OrderReturnDetail" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    $(".datepicker").datepicker({
        todayHighlight: true,
        autoclose: true,
        orientation: 'auto',
    });

    $(document).ready(function () {

        $('#input-group-append-TRDate').click(function () {
            $("#TRDate").focus();
        });

        $('#input-group-append-DebitNoteDate').click(function () {
            $("#DebitNoteDate").focus();
        });

        $('#input-group-append-IntimationDate').click(function () {
            $("#txtIntimationDate").focus();
        });

        $('#input-group-append-InvoiceDate').click(function () {
            $("#txtInvoiceDate").focus();
        });

        $('#input-group-append-From').click(function () {
            $("#ManufactureDate").focus();
        });

        $('#input-group-append-To').click(function () {
            $("#ExpiryDate").focus();
        });

        $('#ManufactureDate').on('change', function () {

            var d1 = new Date($('#ExpiryDate').val());
            var d2 = new Date($('#ManufactureDate').val());

            if (d1.getTime() < d2.getTime()) {
                $('button[type=submit]').attr('disabled', true);
                Toast.fire({ icon: 'error', title: 'Expiry Date can not be greater than Mfg. Date.' });
                $('#ManufactureDate').val('');
            } else {
                $('button[type=submit]').attr('disabled', false);
            }
        });

        $('#ExpiryDate').on('change', function () {

            var d1 = new Date($('#ExpiryDate').val());
            var d2 = new Date($('#ManufactureDate').val());

            if (d1.getTime() < d2.getTime()) {
                $('button[type=submit]').attr('disabled', true);
                Toast.fire({ icon: 'error', title: 'Expiry Date cannot be less than Mfg. Date.' });
                $('#ExpiryDate').val('');
            } else {
                $('button[type=submit]').attr('disabled', false);
            }

        });


        $('.select2').select2({
            width: '100%',
        });
    });

    function AddToGrid() {

        $(".error").empty();

        var ddlProduct = $("#ddlProduct option:selected").text();
        var ddlPlantLocation = $("#ddlPlantLocation option:selected").text();
        var Quantity = $("#Quantity").val().trim();
        var MRP = $("#MRP").val().trim();
        var BatchNo = $("#BatchNo").val().trim();
        var InvoiceNo = $("#InvoiceNo").val().trim();
        var Remarks = $("#Remarks").val().trim();

        if (ddlProduct === '--Select option--') {
            $("#ErrorProductName").text('Product Name is required');
            return false;
        }
        if (ddlPlantLocation === '--Select option--') {
            $("#ErrorPlantLocationName").text('Plant Location is required');
            return false;
        }
        if (Quantity === '') {
            $("#ErrorQuantity").text('Quantity is required');
            return false;
        }
        if (MRP === '') {
            $("#ErrorMRP").text('MRP is required');
            return false;
        }
        if (BatchNo === '') {
            $("#ErrorBatchNo").text('Batch No is required');
            return false;
        }
        if ($('#txtIntimationDate').val() === '') {
            $("#ErrorIntimationDate").text('Intimation Date is required');
            return false;
        }
        if (InvoiceNo === '') {
            $("#ErrorInvoiceNo").text('Invoice No is required');
            return false;
        }
        if ($('#txtInvoiceDate').val() === '') {
            $("#ErrorInvoiceDate").text('Invoice Date is required');
            return false;
        }
        if ($('#txtExpiryDate').val() === '') {
            $("#ErrorExpiryDate").text('Expiry Date is required');
            return false;
        }
        if ($('#txtManufactureDate').val() === '') {
            $("#ErrorManufactureDate").text('Mfg. Date is required');
            return false;
        }
        if (Remarks === '') {
            $("#ErrorRemarks").text('Remarks is required');
            return false;
        }
    }

    function SubmitForm() {
        
        $('.error').empty();
        if ($("#ddlReturnReson option:selected").text() == "Leakage & Breakage" && $('#TRNo').val().trim() == "") {
            $('#ErrorTRNo').text('TR No is mandatory.');
            return false;
        }
        if ($("#ddlReturnReson option:selected").text() == "Leakage & Breakage" && ($('.custom-file-input').val() == "" && $('#Attachment').val() == "")) {
            $('#ErrorAttachment').text('Attachment is mandatory.');
            return false;
        }
        Swal.fire({
            title: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Return Order Place!'
        }).then((result) => {
            if (result.value == true) {
                debugger
                $('[name="btnSubmit"]').val("Submitted");
                $('#frmOrderReturnMaster').submit();
            }
        });
        return false;
    }

    function DraftForm() {
        $("#frmOrderReturnMaster").submit(function () {
            $('[name="btnSubmit"]').val("Draft");
        });
    }

    function GetResponse(data) {

        if (data != null && data.data != undefined && data.data.HtmlString != null) {
            $("#ProductGrid").html(data.data.HtmlString.Result);
        }
        if (data != null && data.data != undefined && data.data.Status) {
            $('#frmOrderDetails input[type="text"],input[type="date"],input[type="number"]').val('');
            Toast.fire({
                icon: 'success',
                title: data.data.Message
            });
        }
        else {
            if (data != null && data.data != undefined) {
                Toast.fire({
                    icon: 'error',
                    title: data.data.Message
                });
            }
        }
    }

</script>

