@model OrderReturnMaster
@{    
    ViewData["Title"] = "Return Order";
}

<style type="text/css">

    .card-header {
        padding: 5px 15px 0px 15px
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>

<!-- Main content -->
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form asp-controller="OrderReturn"
                          asp-action="SaveEdit"
                          id="frmOrderReturnMaster"
                          data-ajax-begin="Begin"
                          data-ajax-success="OnSuccess"
                          data-ajax-complete="Complete"
                          data-ajax="true"
                          data-ajax-method="POST">
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Distributor Information</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Name:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorName</strong></span>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>City:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.City</strong></span>
                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Code:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Return Order Details</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Transporter:</h6>
                                                <input type="text" asp-for="Transporter" placeholder="Enter Transporter" id="Transporter" class="form-control" />
                                                <span asp-validation-for="Transporter" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Number:</h6>
                                                <input type="text" asp-for="TRNo" placeholder="Enter TR Number" id="TRNo" class="form-control" />
                                                <span id="ErrorTRNo" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Date:</h6>
                                                <div class="input-group date" id="TRDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" asp-for="TRDate" value="@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Convert.ToDateTime(Model.TRDate).ToString("dd/MM/yyyy"))" data-target="#TRDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#TRDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="TRDate" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note No:</h6>
                                                <input type="text" asp-for="DebitNoteNo" placeholder="Enter Debit Note No" id="DebitNoteNo" class="form-control" />
                                                <span asp-validation-for="DebitNoteNo" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note Date:</h6>
                                                <div class="input-group date" id="DebitNoteDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" asp-for="DebitNoteDate" value="@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Convert.ToDateTime(Model.DebitNoteDate).ToString("dd/MM/yyyy"))" data-target="#DebitNoteDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#DebitNoteDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="DebitNoteDate" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Return Reason:</h6>
                                                <select asp-for="OrderReturnReasonId" asp-items="Model.returnReasonList" class="form-control select2" id="ddlReturnReson">
                                                    <option value="">--Select option--</option>
                                                </select>
                                                <span asp-validation-for="OrderReturnReasonId" class="text-danger"></span>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-6">
                                                <label style="margin-top: 15px;">Total Value:&nbsp;&nbsp;&nbsp; </label><strong><span id="TotalValue"></span></strong>
                                            </div>
                                            <div class="col-6 pull-right">
                                                <button type="button" onclick="return SubmitForm();" name="btnSubmit" value="@SubmitStatus.OrderNow" id="btnOrderNow" class="ladda-button btn btn-success mr-1 float-right">
                                                    Submit
                                                </button>
                                                <button type="submit" name="btnSubmit" value="@SubmitStatus.Draft" class="ladda-button btn btn-info float-right mr-3" id="btnDraft">
                                                    Draft
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary grid">
                                <div class="card-header">
                                    <h3 class="card-title">Add Products</h3>
                                </div>
                                <div class="card-body">
                                    <form asp-controller="OrderReturn"
                                          asp-action="AddProduct"
                                          id="frmOrderDetails"
                                          data-ajax="true"
                                          data-ajax-success="GetResponse"
                                          data-ajax-complete="Complete"
                                          data-ajax-method="POST">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Product Name:</h6>
                                                <select name="ProductId" asp-items="Model.ProductList" class="form-control select2" id="ddlProduct">
                                                    <option value="">--Select option--</option>
                                                </select>
                                                <span id="ErrorProductName" class="text-danger"></span>
                                            </div>                                            
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Quantity:</h6>
                                                <input type="number" name="Quantity" id="Quantity" min="0" oninput="validity.valid||(value='');" placeholder="Enter Quantity" class="form-control" />
                                                <span id="ErrorQuantity" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>MRP:</h6>
                                                <input type="number" name="MRP" id="MRP" min="0" oninput="validity.valid||(value='');" step="any" placeholder="Enter MRP" class="form-control" />
                                                <span id="ErrorMRP" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Batch No:</h6>
                                                <input type="text" name="BatchNo" id="BatchNo" placeholder="Enter Batch No" class="form-control" />
                                                <span id="ErrorBatchNo" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Earlier Intimation:</h6>
                                                <div class="input-group date" id="IntimationDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="IntimationDate" value="" data-target="#IntimationDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#IntimationDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Invoice No:</h6>
                                                <input type="text" name="InvoiceNo" placeholder="Enter Invoice No" id="InvoiceNo" class="form-control" />
                                                <span id="ErrorInvoiceNo" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Invoice Date:</h6>
                                                <div class="input-group date" id="InvoiceDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="InvoiceDate" value="" data-target="#InvoiceDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#InvoiceDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Expiry Date:</h6>
                                                <div class="input-group date" id="ExpiryDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="ExpiryDate" value="" data-target="#ExpiryDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ExpiryDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Manufacture Date:</h6>
                                                <div class="input-group date" id="ManufactureDate" data-target-input="nearest">
                                                    <input type="text" readonly="readonly" name="ManufactureDate" value="" data-target="#ManufactureDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ManufactureDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <h6>Remarks:</h6>
                                                <input type="text" name="Remarks" placeholder="Enter Remarks" id="Remarks" class="form-control" />
                                                <span id="ErrorRemarks" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6></h6>
                                                <button type="submit" id="AddProducts" onclick="return AddToGrid();" class="ladda-button btn btn-primary float-right" style="margin-top: 20px;">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </form><br />
                                           <div class="scrollmenu" id="ProductGrid">
                                               @if (Model.OrderReturnDetail.Count > 0)
                                               {
                                                   <partial name="ProductGrid" model="Model.OrderReturnDetail" />
                                               }
                                              
                                           </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>

    $(document).ready(function () {

        $('.select2').select2();
        $('.datepicker').datepicker({
            format: 'L',
            todayHighlight: true,
            maxDate: moment(),
            orientation: "auto",
        });

    });

    function LaddaBegin() {
        Ladda.create($("#btnOrderNow", this)[0]).start();
        Ladda.create($("#btnDraft", this)[0]).start();
    }

    function AddToGrid() {

        $(".text-danger").empty();

        var ddlProduct = $("#ddlProduct option:selected").text();
        var ddlPlantLocation = $("#ddlPlantLocation option:selected").text();
        var Quantity = $("#Quantity").val().trim();
        var MRP = $("#MRP").val().trim();
        var BatchNo = $("#BatchNo").val().trim();
        var InvoiceNo = $("#InvoiceNo").val().trim();
        var Remarks = $("#Remarks").val().trim();

        if (ddlProduct === '--Select option--') {
            $("#ErrorProductName").text('Product Name is required');
            return false;
        }
        if (ddlPlantLocation === '--Select option--') {
            $("#ErrorPlantLocationName").text('Plant Location is required');
            return false;
        }
        if (Quantity === '') {
            $("#ErrorQuantity").text('Quantity is required');
            return false;
        }
        if (MRP === '') {
            $("#ErrorMRP").text('MRP is required');
            return false;
        }
        if (BatchNo === '') {
            $("#ErrorBatchNo").text('Batch No is required');
            return false;
        }
        if (InvoiceNo === '') {
            $("#ErrorInvoiceNo").text('Invoice No is required');
            return false;
        }
        if (Remarks === '') {
            $("#ErrorRemarks").text('Remarks is required');
            return false;
        }
    }

    function SubmitForm() {

        $('#ErrorTRNo').empty();
        if ($("#ddlReturnReson option:selected").text() == "Leaked and breakage" && $('#TRNo').val().trim() == "") {
            $('#ErrorTRNo').text('TR No is mandatory.');
            return false;
        };
        Swal.fire({
            title: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Order Place!'
        }).then((result) => {
            if (result.value == true) {
                $('#frmOrderReturnMaster').submit();
            }
        })
        return false;
    }

    function GetResponse(data) {

        if (data.data.HtmlString != null) {
            $("#ProductGrid").html(data.data.HtmlString.Result);
        }
        if (data.data.Status) {
            Toast.fire({
                icon: 'success',
                title: data.data.Message
            });

            $('#TotalValue').text(parseFloat(total).toLocaleString(window.document.documentElement.lang));
        }
        else {
            Toast.fire({
                icon: 'error',
                title: data.data.Message
            });
        }
    }

</script>

