@model OrderReturnMaster
@inject IUnitOfWork iUnitOfWork
@{
    var product = new ProductDetailBLL(iUnitOfWork).DropDownProductList();
    var plantLocationList = new PlantLocationBLL(iUnitOfWork).DropDownPlantLocationList();
    var returnReasonList = new OrderReturnReasonBLL(iUnitOfWork).DropDownOrderReturnReasonList();
    ViewData["Title"] = "Approve Return Order";
    ViewBag.IsView = true;
}

<style type="text/css">

    .card-header {
        padding: 5px 15px 0px 15px
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>

<!-- Main content -->
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <form asp-controller="OrderReturn"
                  asp-action="ApprovedQuantity"
                  id="frmOrderReturnMaster"
                  data-ajax-begin="LaddaBegin"
                  data-ajax-success="OnSuccess"
                  data-ajax-complete="Complete"
                  data-ajax="true"
                  data-ajax-method="POST">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Distributor Information</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Name:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorName</strong></span>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>City:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.City</strong></span>
                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <h6>Code:</h6>
                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                                <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Return Order Details</h3>
                                    </div>
                                    <div class="card-body" style="padding: 10px 15px 0px 15px;">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Transporter:</h6>
                                                <span asp-for="Transporter" class="form-control">@Model.Transporter</span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Number:</h6>
                                                <span asp-for="TRNo" class="form-control">@Model.TRNo</span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>TR Date:</h6>
                                                <span asp-for="TRDate" class="form-control">@Model.TRDate.ToShortDateString()</span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note No:</h6>
                                                <span asp-for="DebitNoteNo" class="form-control">@Model.DebitNoteNo</span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Debit Note Date:</h6>
                                                <span asp-for="DebitNoteDate" class="form-control">@Model.DebitNoteDate.ToShortDateString()</span>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <h6>Return Reason:</h6>
                                                <span asp-for="OrderReturnReason.ReasonName" class="form-control">@Model.OrderReturnReason.ReasonName</span>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-6">
                                                <label style="margin-top: 15px;">Total Value:&nbsp;&nbsp;&nbsp; </label><strong><span id="TotalValue"></span></strong>
                                            </div>
                                            <div class="col-6 pull-right">
                                                <button type="button" id="btnReject" name="btnSubmit" class="ladda-button btn btn-danger float-right mr-3">
                                                    Reject
                                                </button>
                                                <button type="submit" onclick="return SubmitForm();" id="btnReceived" name="btnSubmit" class="ladda-button btn btn-success mr-1 float-right">
                                                    Received
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary grid">
                                    <div class="card-header">
                                        <h3 class="card-title">Return Products</h3>
                                        <span class="float-right"><strong>Return Order No: @string.Format("{0:1000000000}", Model.Id)</strong></span>
                                    </div>
                                    <div class="card-body">
                                        <br />
                                        <div class="scrollmenu" id="ProductGrid">
                                            @if (Model.OrderReturnDetail.Count > 0)
                                            {
                                                <div class="table-responsive-sm">
                                                    <table id="example" class="table table-bordered table-condensed table-hover table-striped table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No.</th>
                                                                <th>Product Name</th>
                                                                <th>Batch No</th>
                                                                <th>MRP</th>
                                                                <th>Total Price</th>
                                                                <th>Quantity</th>
                                                                <th>Received Qty</th>
                                                                <th>Discount</th>
                                                                <th>Net Amount</th>
                                                                <th>Manufacture Date</th>
                                                                <th>Expiry Date</th>
                                                                <th>Invoice No</th>
                                                                <th>Invoice Date</th>
                                                                <th>Intimation Date</th>
                                                                <th>Location</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @for (int i = 0; i < Model.OrderReturnDetail.Where(e => e.Company.Id == SessionHelper.LoginUser.CompanyId && e.PlantLocationId == SessionHelper.LoginUser.PlantLocationId).Count(); i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="hidden" asp-for="@Model.OrderReturnDetail[i].ProductId" />
                                                                        @Model.OrderReturnDetail[i].Id
                                                                    </td>
                                                                    <td>@Model.OrderReturnDetail[i].ProductMaster.ProductName</td>
                                                                    <td>@Model.OrderReturnDetail[i].BatchNo</td>
                                                                    <td>@Model.OrderReturnDetail[i].MRP</td>
                                                                    <td>@Model.OrderReturnDetail[i].NetAmount</td>
                                                                    <td>@Model.OrderReturnDetail[i].Quantity</td>
                                                                    <td>
                                                                        <input type="number" asp-for="@Model.OrderReturnDetail[i].ReceivedQty" value="@Model.OrderReturnDetail[i].Quantity" class="form-control" />
                                                                    </td>
                                                                    <td>@Model.OrderReturnDetail[i].ProductMaster.Discount %</td>
                                                                    <td>@Model.OrderReturnDetail[i].NetAmount</td>
                                                                    <td>@Model.OrderReturnDetail[i].ManufactureDate.ToString("dd/MM/yyyy")</td>
                                                                    <td>@Model.OrderReturnDetail[i].ExpiryDate.ToString("dd/MM/yyyy")</td>
                                                                    <td>@Model.OrderReturnDetail[i].InvoiceNo</td>
                                                                    <td>@Model.OrderReturnDetail[i].InvoiceDate.ToString("dd/MM/yyyy")</td>
                                                                    <td>@Model.OrderReturnDetail[i].IntimationDate.ToString("dd/MM/yyyy")</td>
                                                                    <td>@Model.OrderReturnDetail[i].PlantLocation.PlantLocationName</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#example").DataTable({
                                                        });
                                                    });
                                                </script>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<script>
    function LaddaBegin() {
        Ladda.create($("#btnReject", this)[0]).start();
        Ladda.create($("#btnReceived", this)[0]).start();
    }

    function SubmitForm() {
        debugger;
        Swal.fire({
            title: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Order Received!'
        }).then((result) => {
            if (result.value == true) {
                $('#frmOrderReturnMaster').submit();
            }
        })
        return false;
    }
</script>


