@model OrderReturnMaster

@if (Model.OrderReturnDetail.Count > 0)
{
    <div class="table-responsive-sm">
        <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        <div class="icheck-success d-inline">
                            <input type="checkbox" name="select_all" id="example-select-all" value="true" />
                            <label for="example-select-all"></label>
                        </div>
                    </th>
                    <th>Product Name</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Batch No</th>
                    <th>MRP</th>
                    <th>Total Price</th>
                    <th>Quantity</th>
                    <th>Received Qty</th>
                    <th>Discount</th>
                    <th>Net Amount</th>
                    <th>Manufacture Date</th>
                    <th>Expiry Date</th>
                    <th>Invoice No</th>
                    <th>Invoice Date</th>
                    <th>Intimation Date</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderReturnDetail.Count(); i++)
                {
                    <tr>
                        <td>
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="checkbox@(Model.OrderReturnDetail[i].Id)" asp-for="@Model.OrderReturnDetail[i].IsProductSelected" value="@EncryptDecrypt.Encrypt(Model.OrderReturnDetail[i].ProductId.ToString())" checked="@(Model.OrderReturnDetail[i].IsProductSelected == true ? "checked" : null)" />
                                <label for="checkbox@(Model.OrderReturnDetail[i].Id)">
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" asp-for="@Model.OrderReturnDetail[i].ProductId" />
                            @Model.OrderReturnDetail[i].ProductMaster.ProductName @Model.OrderReturnDetail[i].ProductMaster.ProductDescription
                        </td>
                        <td>@Model.OrderReturnDetail[i].Company.CompanyName</td>
                        <td>@Model.OrderReturnDetail[i].PlantLocation.PlantLocationName</td>
                        <td>
                            <input type="number" asp-for="@Model.OrderReturnDetail[i].BatchNo" value="@Model.OrderReturnDetail[i].BatchNo" class="form-control" />
                        </td>
                        <td>
                            <input type="number" asp-for="@Model.OrderReturnDetail[i].MRP" width="100" value="@Model.OrderReturnDetail[i].MRP" class="form-control" />
                        </td>
                        <td>@Model.OrderReturnDetail[i].TotalPrice</td>
                        <td>@Model.OrderReturnDetail[i].Quantity</td>
                        <td>
                            <input type="number" asp-for="@Model.OrderReturnDetail[i].ReceivedQty" value="@Model.OrderReturnDetail[i].Quantity" class="form-control" />
                        </td>
                        <td>@Model.OrderReturnDetail[i].ProductMaster.Discount %</td>
                        <td><span class="Amount">@Model.OrderReturnDetail[i].NetAmount</span></td>
                        <td><input class="form-control" type="text" value="@Model.OrderReturnDetail[i].ManufactureDate.ToString("dd/MM/yyyy")" asp-for="@Model.OrderReturnDetail[i].ManufactureDate" readonly="readonly" /></td>
                        <td><input class="form-control" type="text" value="@Model.OrderReturnDetail[i].ExpiryDate.ToString("dd/MM/yyyy")" asp-for="@Model.OrderReturnDetail[i].ExpiryDate" readonly="readonly" /></td>
                        <td><input class="form-control" type="text" value="@Model.OrderReturnDetail[i].InvoiceNo" asp-for="@Model.OrderReturnDetail[i].InvoiceNo" readonly="readonly" /></td>
                        <td><input class="form-control" type="text" value="@Model.OrderReturnDetail[i].InvoiceDate.ToString("dd/MM/yyyy")" asp-for="@Model.OrderReturnDetail[i].InvoiceDate" readonly="readonly" /></td>
                        <td><input class="form-control" type="text" value="@Model.OrderReturnDetail[i].IntimationDate.ToString("dd/MM/yyyy")" asp-for="@Model.OrderReturnDetail[i].IntimationDate" readonly="readonly" /></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "10" : "10")"><span class="float-right">Grand Total</span></td>
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "7" : "6")"><strong><span class="TotalNetValue"></span></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
<script type="text/javascript">

    var table;

    $(document).ready(function () {

        $('.select2').select2();

        table = $("#example2").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
            "scrollX": true,
            "sScrollXInner": "150%",
        });

        CalculateTotal();

        $("input[type='checkbox']").change(function (e) {

            if ($(this).attr('Id') != "example-select-all") {
                $.post(window.location.origin + "/OrderReturn/SelectProduct", { DPID: $(this).val() }, function (response) {
                });
                if ($(this).is(':checked') == false) {
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', true);
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').val(0);
                } else {
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', false);
                }
            }
        });
        $("#example-select-all").change(function (e) {
            
            $.post(window.location.origin + "/OrderReturn/SelectAllProduct", { IsSelected: $('#example-select-all').is(':checked') }, function (response) {
            });
            if ($(this).is(':checked') == false) {
                $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', true);
                $(this).closest('td').closest('tr').find('.ApproveQuantity').val(0);
            } else {
                $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', false);
            }
        });
        //// Handle click on "Select all" control
        $('#example-select-all').on('click', function () {
            
            // Check/uncheck all checkboxes in the table
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        //// Handle click on checkbox to set state of "Select all" control
        $('#example2 tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });

    function CalculateTotal() {
        var sum = 0;
        $(".Amount").each(function () {

            if ($(this).text() != "") {
                sum += parseFloat($(this).text());
            }
        });
        $('.TotalNetValue').text(parseFloat(sum).toLocaleString(window.document.documentElement.lang));
    }
</script>