@model IEnumerable<OrderReturnMaster>
@{
    bool approve = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "OrderReturn").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Approve));
    bool add = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "OrderReturn").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Insert));
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Order Return List</h2>
                @if (SessionHelper.LoginUser.IsDistributor == true)
                {
                    <a asp-action="Add"
                       asp-controller="OrderReturn"
                       class="btn btn-info float-right @(add ? null : "d-none")">Add</a>
                }
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Order Return No</th>
                            <th>TR No</th>
                            <th>Distributor Name</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SNo</td>
                                <td>@item.TRNo</td>
                                <td>@item.Distributor.DistributorName</td>
                                <td>@Html.DisplayFor(x => item.Status)</td>
                                <td>@item.CreatedName</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss tt")</td>
                                <td class="p-1">
                                    <a asp-controller="OrderReturn" asp-action="View" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    @if (item.Status == OrderReturnStatus.Draft && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a asp-controller="OrderReturn" asp-action="Add" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    }
                                    @if ((item.Status == OrderReturnStatus.Submitted || item.Status == OrderReturnStatus.PartiallyReceived) && !SessionHelper.LoginUser.IsDistributor && approve)
                                    {
                                        <a asp-controller="OrderReturn" asp-action="Approve" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-success btn-sm@(approve ? null : "d-none")">
                                            <i class="fas fa-thumbs-up"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderReturnStatus.PartiallyReceived && !SessionHelper.LoginUser.IsDistributor && approve)
                                    {
                                        <a onclick="Sync('@EncryptDecrypt.Encrypt(item.Id.ToString())');" title="Sync Partially Approved Order" class="btn btn-primary btn-sm">
                                            <i class="fas fa-sync"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderReturnStatus.Submitted && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a onclick="Print('/Reports/Print?', '@ApplicationPages.OrderReturn', '@EncryptDecrypt.Encrypt(item.Id.ToString())', '@item.OrderReturnReasonId');" class="btn btn-success btn-sm">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [[0, "desc"]]
        });

    });
    function Sync(Id) {
        Begin();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SyncPartiallyApproved", "OrderReturn")',
            data: { 'DPID': Id },
            cache: false,
            success: function (data) {
                OnSuccess(data);
            }
        });
    }

</script>