@model IEnumerable<OrderReturnDetail>

<div class="scrollmenu">
    <table id="example2" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th class="@(SessionHelper.LoginUser.IsDistributor ? "d-none" : null)"></th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Company</th>
                <th>Location</th>
                <th>Batch No</th>
                <th>MRP</th>
                @*<th>Total Price</th>*@
                <th>Quantity</th>
                <th>Discount</th>
                <th>Net Amount</th>
                <th>Mfg. Date</th>
                <th>Expiry Date</th>
                <th>Invoice No</th>
                <th>Invoice Date</th>
                <th>Intimation Date</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="@(SessionHelper.LoginUser.IsDistributor ? "d-none" : null)">
                        <div class="icheck-success d-inline">
                            <input type="checkbox" id="checkbox@(item.Id)" asp-for="@item.IsProductSelected" value="@EncryptDecrypt.Encrypt(item.ProductId.ToString())" checked="@(item.IsProductSelected == true ? "checked" : null)" />
                            <label for="checkbox@(item.Id)">
                            </label>
                        </div>
                    </td>
                    <td>@item.ProductMaster.SAPProductCode</td>
                    <td>@item.ProductMaster.ProductDescription</td>
                    <td>@item.Company.CompanyName</td>
                    <td>@item.PlantLocation.PlantLocationName</td>
                    <td>@item.BatchNo</td>
                    <td>@item.MRP</td>
                    @*<td>@item.TotalPrice</td>*@
                    <td>
                        <input type="text" asp-for="@item.Quantity" value="@item.Quantity" class="form-control ReturnQuantity numeric" min="1" max="999999" maxlength="6" pattern="\d*" oninput="validity.valid||(value='');" _ProductId="@item.ProductId" />
                    </td>
                    <td>@item.ProductMaster.Discount %</td>
                    <td><span class="NetAmount">@item.NetAmount</span></td>
                    <td>@item.ManufactureDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.ExpiryDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.InvoiceNo</td>
                    <td>@item.InvoiceDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.IntimationDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Remarks</td>
                    <td>
                        <a asp-action="Delete"
                           asp-controller="OrderReturn"
                           asp-route-DPID="@EncryptDecrypt.Encrypt(item.ProductMaster.Id.ToString())"
                           asp-route-BatchNo="@item.BatchNo.ToString()"
                           class="btn btn-danger"
                           data-ajax="true"
                           data-ajax-complete="UpdateOrderValue"
                           data-ajax-update="#ProductGrid"
                           data-ajax-method="POST">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "8" : "10")"><span class="float-right">Total value of order</span></td>
                @if (Model.Count() > 0 && Model != null)
                {
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "7" : "7")"><strong><span class="TotalNetValue">@Model.Select(e => e.NetAmount).Sum().ToString("#,##0.00")</span></strong></td>
                }
                else
                {
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "7" : "7")"><strong><span class="TotalNetValue"></span></strong></td>
                }
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        CalculateTotal();
        $("#example2").dataTable().fnDestroy();

        $("#example2").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });

        $('body').on('change', '.ReturnQuantity', function (data) {

            if (data.currentTarget.value == "0") {
                $(this).val(1);
                return false;
            }
            var intmaxvalue = @Int32.MaxValue;
            var Quantity = data.currentTarget.value;
            var Product = data.currentTarget.getAttribute("_ProductId");
            if (Quantity > intmaxvalue) {
                Toast.fire({
                    icon: 'error',
                    title: "Quantity cannot be greater than " + intmaxvalue
                });
            }
            else
            {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("UpdateQuantity", "OrderReturn")',
                    data: { 'Quantity': Quantity, 'Product': Product },
                    cache: false,
                });
            }
        });

    });

    function CalculateTotal() {
        var sum = 0;
        $(".NetAmount").each(function () {

            if ($(this).text() != "") {
                sum += parseFloat($(this).text());
            }
        });
        $('#TotalValue').text(sum);
        $('#TotalNetValue').text(parseFloat(sum).toLocaleString(window.document.documentElement.lang));
    }

</script>


