@model IEnumerable<OrderReturnDetail>

<div class="table-responsive-sm">
    <table id="example" class="table table-bordered table-condensed table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Product Name</th>
                <th>Batch No</th>
                <th>MRP</th>
                <th>Total Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Net Amount</th>
                <th>Manufacture Date</th>
                <th>Expiry Date</th>
                <th>Invoice No</th>
                <th>Invoice Date</th>
                <th>Intimation Date</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductMaster.ProductName</td>
                <td>@item.BatchNo</td>
                <td>@item.MRP</td>
                <td>@item.NetAmount</td>
                <td>@item.Quantity</td>
                <td>@item.ProductMaster.Discount %</td>
                <td>@item.NetAmount</td>
                <td>@item.ManufactureDate.ToString("dd/MM/yyyy")</td>
                <td>@item.ExpiryDate.ToString("dd/MM/yyyy")</td>
                <td>@item.InvoiceNo</td>
                <td>@item.InvoiceDate.ToString("dd/MM/yyyy")</td>
                <td>@item.IntimationDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PlantLocation.PlantLocationName</td>
                <td>
                    <a asp-action="Delete"
                       asp-controller="OrderReturn"
                       asp-route-Id="@item.ProductMaster.Id"
                       class="btn btn-danger"
                       data-ajax="true"
                       data-ajax-complete="UpdateOrderValue"
                       data-ajax-update="#ProductGrid"
                       data-ajax-method="POST">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#example1").DataTable({
        });
    });
</script>


