@model IEnumerable<SubDistributor>
@{
    bool insert = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "SubDistributor").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Insert));
    bool update = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "SubDistributor").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Update));
    bool delete = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "SubDistributor").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Delete));
    int i = 1;
    var viewdata = (string)TempData["Message"];
    if (!string.IsNullOrEmpty(viewdata))
    {
        <div class="alert alert-danger alert-dismissable" id="alertmessage">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @viewdata <a class="alert-link" href="#"></a>
        </div>
    }
}
<style type="text/css">
    td.details-control {
        background: url('//datatables.net/examples/resources/details_open.png') no-repeat center center !important;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('//datatables.net/examples/resources/details_close.png') no-repeat center center !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">List</h2>
                <form asp-controller="SubDistributor"
                      asp-action="Add"
                      id="frmAdd"
                      data-ajax-update="#divform"
                      data-ajax="true"
                      data-ajax-method="GET"
                      method="GET">
                    @if (insert)
                    {
                        <button type="submit" class="btn btn-info float-right">Add</button>
                    }
                </form>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>S No</th>
                            <th>Distributor Name</th>
                            <th>Is Parent</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.DistributorId))
                        {
                            <tr>
                                <td class="details-control">
                                    <input type="hidden" value="@EncryptDecrypt.Encrypt(item.DistributorId.ToString())" />
                                </td>
                                <td>@(i++)</td>
                                <td>@item.Distributor.DistributorName</td>
                                <td>
                                    @if (item.IsParent)
                                    {<i class="fa fa-check text-navy"></i> }
                                    else
                                    {<i class="fa fa-times text-danger"></i>}
                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {<i class="fa fa-check text-navy"></i> }
                                    else
                                    {<i class="fa fa-times text-danger"></i>}
                                </td>
                                <td class="p-1">
                                    @if (update && item.IsParent)
                                    {

                                        <a data-ajax-update="#divform"
                                           data-ajax="true"
                                           data-ajax-method="GET"
                                           asp-controller="SubDistributor" asp-action="Add" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    }
                                    @if (delete && item.IsParent)
                                    {
                                        <a onclick="Delete(this);" id="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sub Distributor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollmenu" id="modal-detail">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $("#example1").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
        });

        // Add event listener for opening and closing details
        $('#example1 tbody').on('click', 'td.details-control', function () {
            BlockUI();
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var DistributorId = $(row.data()[0]).val();
            $.ajax({
                type: 'GET',
                url: '/SubDistributor/GetSubDistributorList',
                data: { DPID: DistributorId },
                success: function (response) {
                    UnBlockUI();
                    $('#modal-detail').html(response);
                    $('#modal-default').modal('toggle');
                    $('#modal-default').modal('show');
                }
            });
        });

    });

    function Delete(e) {
        Swal.fire({
            title: "Are you sure you want to continue?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
            showLoaderOnConfirm: true
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("Delete", "SubDistributor")?DPID=' + e.id, null, function (data) {
                    if (data) {
                        Toast.fire({ icon: 'success', title: '@NotificationMessage.DeletedSuccessfully' });
                        window.location.reload();
                    } else {
                        Toast.fire({ icon: 'error', title: '@NotificationMessage.ErrorOccurred' });
                    }
                });
            }
        });
    }

</script>