@model IEnumerable<Bank>
@{
    int Sno = 1;
    var viewdata = (string)TempData["Message"];
    if (!string.IsNullOrEmpty(viewdata))
    {
        <div class="alert alert-danger alert-dismissable" id="alertmessage">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @viewdata <a class="alert-link" href="#"></a>.
        </div>
    }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Bank List</h2>
                <form asp-controller="Bank"
                      asp-action="Add"
                      id="frmAdd"
                      data-ajax-update="#divform"
                      data-ajax="true"
                      data-ajax-method="GET"
                      method="GET">
                    <button type="submit" class="btn btn-info float-right">Add</button>
                </form>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="5%">S.No</th>
                            <th width="12%">Company Name</th>
                            <th width="15%">Name</th>
                            <th width="10%">Branch</th>
                            <th width="15%">Branch Code</th>
                            <th width="10%">Accoun tNo</th>
                            <th width="10%">IBAN No</th>
                            <th width="10%">Active</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Sno</td>
                                <td>@item.Company.CompanyName</td>
                                <td>@item.BankName</td>
                                <td>@item.Branch</td>
                                <td>@item.BranchCode</td>
                                <td>@item.AccountNo</td>
                                <td>@item.IBANNo</td>
                                <td>
                                    @if (item.IsActive)
                                    {<i class="fa fa-check text-navy"></i> }
                                    else
                                    {<i class="fa fa-times text-danger"></i>}
                                </td>
                                <td>
                                    <a data-ajax-update="#divform"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       asp-controller="Bank" asp-action="Add" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a onclick="Delete(this);" id="@item.Id" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            Sno++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });

    function Delete(e) {
        Swal.fire({
            title: "Are you sure you want to continue?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
            showLoaderOnConfirm: true
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("Delete", "Bank")/' + e.id, null, function (data) {
                    if (data) {
                        Toast.fire({ icon: 'success', title: '@NotificationMessage.DeletedSuccessfully' });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else {
                        Toast.fire({ icon: 'error', title: '@NotificationMessage.ErrorOccurred' });
                    }
                });
            }
        });
    }

</script>