@model OrderMaster
@inject IUnitOfWork iUnitOfWork
@{
    var product = new ProductDetailBLL(iUnitOfWork).DropDownProductList();
}
<style type="text/css">
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }
</style>


<!-- Main content -->

<section class="content-header">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Order"
                      asp-action="SaveEdit"
                      id="frmOrderMaster"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="Complete"
                      data-ajax="true"
                      data-ajax-method="POST">
                    <input asp-for="Id" type="hidden" />
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-primary h-90">
                                <div class="card-header">
                                    <h3 class="card-title">Distributor Information</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" disabled>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Name</h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="Distributor.DistributorName" id="Name" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>City</h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="Distributor.City" id="Name" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Code</h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="Distributor.DistributorCode" id="Name" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <label>Additional Information</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Reference No<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="ReferenceNo" id="ReferenceNo" class="form-control" />
                                                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Attachment<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" asp-for="AttachmentFormFile" class="form-control custom-file-input" id="customFile" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*" />
                                                        <span asp-validation-for="AttachmentFormFile" class="text-danger"></span> <label class="custom-file-label" for="customFile">Choose file</label>
                                                    </div><br />
                                                    <span asp-validation-for="Attachment" class="text-danger"></span>
                                                </div>
                                                <span class="caption">
                                                    <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model != null & !string.IsNullOrEmpty(Model.Attachment) ? Model.Attachment.Split('_')[1] : "")" target="_blank">@(Model != null & !string.IsNullOrEmpty(Model.Attachment) ? Model.Attachment.Split('_')[1] : "")</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <h6>Remarks<span class="text-danger"> * </span></h6>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <input type="text" asp-for="Remarks" id="Remarks" class="form-control" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card card-primary h-90">
                                <div class="card-header">
                                    <h3 class="card-title">Order Values</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body p-0" id="UpdateOrderValueId">
                                    <partial name="OrderValue" model="new OrderValueViewModel()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add Products</h3>
                            </div>
                            <div class="card-body">
                                <form asp-controller="Order"
                                      asp-action="AddProduct"
                                      id="frmOrderDetails"
                                      data-ajax="true"
                                      data-ajax-complete="UpdateOrderValue"
                                      data-ajax-update="#addToGrid"
                                      data-ajax-method="POST">
                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                                            <h6>Product</h6>
                                            <div class="col-lg-12">
                                                <select asp-items="@(new SelectList(product, "Value", "Text"))" class="form-control select2" name="Product">
                                                    <option value="">--Select Product--</option>
                                                </select>
                                            </div>
                                            <span id="ErrorProductName" class="text-danger">@ViewBag.Error</span>
                                        </div>
                                        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                                            <h6>Quantity</h6>
                                            <div class="col-lg-12">
                                                <input type="number" name="Quantity" id="Quantity" placeholder="Enter Quantity" class="form-control" />
                                                <span id="ErrorQuantity" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                            <h4 class="col-lg-12 col-form-h4"></h4>
                                            <button type="submit" id="AddProducts" class="ladda-button btn btn-info float-right" style="margin-top:20px;">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="scrollmenu" id="addToGrid">
                                    <partial name="AddToGrid" model="SessionHelper.AddProduct" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                        <label style="margin-top: 15px;">Total Value of Order: </label> <span id="TotalValue"></span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2">
                                        <button type="submit" onclick="Save();" id="btnOrderNow" class="ladda-button btn btn-success float-right">
                                            Order Now
                                        </button>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 mt-2">
                                        <button type="submit" class="ladda-button btn btn-primary float-right">
                                            Draft
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>

    $('.custom-file-input').on("change", function () {
        $('#Attachment').val($(this).val().split("\\").pop());
    });

    var ProductArr = [];
    var response = [];

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

            bsCustomFileInput.init();

            //add international countries to gird
            @*$("#AddProducts").click(function () {
                debugger
                var IntCount = $('.addProductGrid tbody tr').length;

                $("#ErrorProductName").empty();
                $("#ErrorQuantity").empty();

                var ProductNameId = $("#ProductName").val();
                var ProductName = $("#ProductName option:selected").text();
                var Quantity = $("#Quantity").val().trim();
                var IsRowDeleted = false;

                if (ProductName === '--Select option--') {
                    $("#ErrorProductName").text('Select Product');
                    return false;
                }
                if (Quantity === '') {
                    $("#ErrorQuantity").text('Enter quantity');
                    return false;
                }
                if (ProductArr.indexOf(ProductNameId) !== -1) {
                    $("#ErrorProductName").text('Product Name already exists');
                    return false;
                } else {
                    var Id = ProductNameId;
                    var params = {
                        Id: (Id === undefined || Id == "" || Id == null || Id.length <= 0 ? 0 : Id)
                    }

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetProduct", "Product")',
                        contentType: "application/json",
                        dataType: "json",
                        data: params,
                        async: false,
                        success: function (data) {
                            debugger
                            response = data.productMaster;
                        },
                    });

                    ProductArr.push(ProductNameId);

                    var IntMarkup = '<tr>  \
                    <td><label id="' + IntCount + '">' + ProductNameId + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__ProductNameId" name="OrderDetail[' + IntCount + '].ProductNameId" type="text" value="' + ProductNameId + '" ></td> \
                    <td><label id="' + IntCount + '">' + response.PackCode + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PackCode" name="OrderDetail[' + IntCount + '].PackCode" type="text" value="' + response.PackCode + '" ></td> \
                    <td><label id="' + IntCount + '">' + ProductName + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__ProductName" name="OrderDetail[' + IntCount + '].ProductName" type="text" value="' + ProductName + '" ></td> \
                    <td><label id="' + IntCount + '">' + response.PackSize + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PackSize" name="OrderDetail[' + IntCount + '].PackSize" type="text" value="' + response.PackSize + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                    <td><label id="' + IntCount + '">' + response.CartonSize + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__CartonSize" name="OrderDetail[' + IntCount + '].CartonSize" type="text" value="' + response.CartonSize + '" ></td> \
                    <td><label id="' + IntCount + '">' + response.Rate + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__Rate" name="OrderDetail[' + IntCount + '].Rate" type="text" value="' + response.Rate + '" ></td> \
                    <td><label id="' + IntCount + '">' + response.Discount + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__Discount" name="OrderDetail[' + IntCount + '].Discount" type="text" value="' + response.Discount + '" ></td> \
                    <td><label id="' + IntCount + '"></label><input id="OrderDetail_' + IntCount + '__Quantity" name="OrderDetail[' + IntCount + '].Quantity" type="text" value="' + Quantity + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                    <td><label id="' + IntCount + '">' + "" + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__PendingQuantity" name="OrderDetail[' + IntCount + '].PendingQuantity" type="text" value="' + "" + '" ></td> \
                        <td class="d-none"><label id="' + IntCount + '">' + IsRowDeleted + '</label><input style="display:none;" id="OrderDetail_' + IntCount + '__IsRowDeleted" name="OrderDetail[' + IntCount + '].IsRowDeleted" type="text" value="' + IsRowDeleted + '" ></td> \
                    <td><button type="button" id="DeleteProducts" class="btn btn-danger" value="Delete">Delete</button></td></tr>';
                    $(".addProductGrid tbody").append(IntMarkup);
                }
                $("#Quantity").val('');
            });*@
        });

        $(".addProductGrid").on("click", "#DeleteProducts", function () {
            var IntcurrentRow = $(this).closest("tr");
            ProductArr.splice(ProductArr.indexOf(IntcurrentRow.find('td:nth-child(2)').find(':input').val()), 1);
            IntcurrentRow.find('td:nth-child(7)').find(':input').val(true);
            $(IntcurrentRow).hide();
        });
    function UpdateOrderValue() {
        debugger;
        $('#frmUpdateOrderValue').click();
    }
</script>
