@model IEnumerable<ProductDetail>

<div class="table-responsive-sm">
    <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
        <thead>
            <tr>
                <th width="8%" >Code</th>
                <th width="15%">Product Name</th>
                <th width="12%">Pack Size</th>
                <th width="5%" >Quantity</th>
                <th width="12%">Carton Size</th>
                <th width="5%" >Rate</th>
                <th width="5%" >Discount</th>
                <th width="20%">Quantity in Cartons</th>
                <th width="5%" >Total</th>
                <th width="10%">Supplies</th>
                <th width="10%">Company</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="8%" >@item.ProductMaster.SAPProductCode</td>
                    <td width="15%">@item.ProductMaster.ProductName @item.ProductMaster.ProductDescription</td>
                    <td width="12%">@item.ProductMaster.PackSize</td>
                    <td width="10%">
                        <input type="number" asp-for="@item.ProductMaster.Quantity" value="@item.ProductMaster.Quantity" class="form-control ChangeQuantity numeric" _ProductId="@item.ProductMasterId" />
                    </td>
                    <td width="12%"><span id="CurtonSize">@item.ProductMaster.CartonSize</span></td>
                    <td width="5%" >@item.ProductMaster.Rate</td>
                    <td width="5%" >@item.ProductMaster.Discount %</td>
                    <td width="20%"><span id="CurtonQty">@(Math.Ceiling(item.ProductMaster.Quantity / item.ProductMaster.CartonSize))</span></td>
                    <td width="5%" >@(item.ProductMaster.Quantity * item.ProductMaster.Rate)</td>
                    <td width="10%">@item.WTaxRate %</td>
                    <td width="10%">@item.Company.CompanyName</td>
                    <td >
                        <a asp-action="Delete"
                           asp-controller="Order"
                           asp-route-DPID="@EncryptDecrypt.Encrypt(item.ProductMaster.Id.ToString())"
                           class="btn btn-danger"
                           data-ajax="true"
                           data-ajax-complete="UpdateOrderValue"
                           data-ajax-update="#addToGrid"
                           data-ajax-method="POST">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
            "scrollX": true,
            "scrollY": true,
            "sScrollXInner": "130%"
        });


        $('.ChangeQuantity').bind('keyup mouseup',function (data) {
            debugger;
            var intmaxvalue = @Int32.MaxValue;
            var Quantity = data.currentTarget.value;
            var Product = data.currentTarget.getAttribute("_ProductId");
            if (Quantity > intmaxvalue) {
                Toast.fire({
                    icon: 'error',
                    title: "Quantity cannot be greater than " + intmaxvalue
                });
            }
            else {
                var size = parseInt($(this).parent('td').parent('tr').find('#CurtonSize').text());
                if (Quantity == "" || Quantity == "0") {
                    $(this).val('1');
                    Quantity = data.currentTarget.value;
                }
                if (Quantity != "" && Quantity != undefined) {
                    $(this).parent('td').parent('tr').find('#CurtonQty')[0].innerText = Math.ceil(parseInt(Quantity) / size).toString();
                }
                else {
                    $(this).parent('td').parent('tr').find('#CurtonQty')[0].innerText = "";
                }   
                
                    $.ajax({
                    type: "GET",
                    url: '@Url.Action("ApprovedOrderValue", "Order")',
                    data: { 'Quantity': Quantity, 'Product': Product },
                    cache: false,
                    success: function (response) {
                        debugger;
                        $("#UpdateOrderValueId").html(response);
                    },
                    complete: function (response) {

                    }
                })
            }
        });
    });



</script>


