@model IEnumerable<ProductDetail>
<div class="table-responsive-sm">
    <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>Code</th>
                <th>Product Name</th>
                <th>Pack Size</th>
                <th>Quantity</th>
                <th>Carton Size</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Quantity in Packs</th>
                <th>Quantity in Cartons</th>
                <th>Total</th>
                <th>Supplies</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductMaster.SAPProductCode</td>
                    <td>@item.ProductMaster.ProductName @item.ProductMaster.ProductDescription</td>
                    <td>@item.ProductMaster.PackSize</td>
                    <td>@item.ProductMaster.Quantity</td>
                    <td>Carton Size</td>
                    <td>@item.ProductMaster.Rate</td>
                    <td>@item.ProductMaster.Discount %</td>
                    <td>Quantity in Packs</td>
                    <td>Quantity in Cartons</td>
                    <td>@(item.ProductMaster.Quantity * item.ProductMaster.Rate)</td>
                    <td>@item.WTaxRate %</td>
                    <td>@item.Company.CompanyName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });
    });
</script>


