@model List<ProductDetail>

<form asp-controller="Order"
      asp-action="ApproveOrder"
      id="frmApproveOrder"
      data-ajax-success="OnSuccess"
      data-ajax-complete="Complete"
      data-ajax="true"
      data-ajax-method="POST">
    <div class="table-responsive-sm">
        <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Product Name</th>
                    <th>Pack Size</th>
                    <th>Quantity</th>
                    <th>Approved Qty</th>
                    <th>Carton Size</th>
                    <th>Rate</th>
                    <th>Discount</th>
                    <th>Quantity in Packs</th>
                    <th>Quantity in Cartons</th>
                    <th>Total</th>
                    <th>Supplies</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].ProductMasterId" />
                            <input type="hidden" asp-for="@Model[i].OrderNumber" />
                            @Model[i].ProductMaster.SAPProductCode
                        </td>
                        <td>@Model[i].ProductMaster.ProductName @Model[i].ProductMaster.ProductDescription</td>
                        <td>@Model[i].ProductMaster.PackSize</td>
                        <td>@Model[i].ProductMaster.Quantity</td>
                        <td>
                            @if (ViewBag.View == true)
                            {
                                @Model[i].ProductMaster.ApprovedQuantity
                            }
                            else
                            {
                                <input type="number" asp-for="@Model[i].ProductMaster.ApprovedQuantity" value="@Model[i].ProductMaster.Quantity" class="form-control ApproveQuantity numeric" _ProductId="@Model[i].ProductMasterId" _OrderId="@Model[i].OrderNumber" />

                            }
                        </td>
                        <td>Carton Size</td>
                        <td>@Model[i].ProductMaster.Rate</td>
                        <td>@Model[i].ProductMaster.Discount %</td>
                        <td>Quantity in Packs</td>
                        <td>Quantity in Cartons</td>
                        <td>@(Model[i].ProductMaster.Quantity * Model[i].ProductMaster.Rate)</td>
                        <td>@Model[i].WTaxRate %</td>
                        <td>@Model[i].Company.CompanyName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
            "scrollX": true,
            "sScrollXInner": "200%",
        });
        $('.numeric').mask('000,000,000,000,000', { reverse: true });
        
        $('.ApproveQuantity').bind('keyup mouseup',function (data) {
            debugger;
            var intmaxvalue = @Int32.MaxValue;
            var Quantity = data.currentTarget.value;
            var Product = data.currentTarget.getAttribute("_ProductId");
            var Order = data.currentTarget.getAttribute("_OrderId");
            if (Quantity > intmaxvalue) {
                Toast.fire({
                    icon: 'error',
                    title: "Quantity cannot be greater than " + intmaxvalue
                });
            }
            else {
                    $.ajax({
                    type: "GET",
                    url: '@Url.Action("ApprovedOrderValue", "Order")',
                    data: { 'Quantity': Quantity, 'Product': Product, 'Order': Order },
                    cache: false,
                    success: function (response) {
                        debugger;
                        $("#UpdateOrderValueId").html(response);
                    },
                    complete: function (response) {

                    }
                })
            }
        });
    });
</script>


