@model List<ProductDetail>
@inject IUnitOfWork unitOfWork
@{
    MultiSelectList companyList = new CompanyBLL(unitOfWork).DropDownCompanyList(Model.Where(x => x.IsProductSelected == true).Select(x => x.CompanyId).ToArray(), false);
}

<style type="text/css">
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #1ab8f2;
    }
</style>

<form asp-controller="Order"
      asp-action="ApproveOrder"
      id="frmApproveOrder"
      data-ajax-begin="LaddaBegin"
      data-ajax-success="OnSuccess"
      data-ajax-complete="Complete"
      data-ajax="true"
      data-ajax-method="POST">
    <div class="table-responsive-sm">
        <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th colspan="@(SessionHelper.LoginUser.IsDistributor ? "13" : "14")" class="@(SessionHelper.LoginUser.IsDistributor ? "d-none" : null)">
                        Company:
                        <select name="companyId" asp-items="@(new MultiSelectList(companyList, "Value", "Text", companyList.SelectedValues))" disabled="@((ViewBag.Status != OrderStatus.PendingApproval && ViewBag.Status != OrderStatus.PartiallyApproved)  ? "disabled" : null)" class="select2" id="ddlCompany" multiple="multiple" data-placeholder="All Companies" style="width: 25%;">
                            <option disabled>--Select company--</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th width="1%" class="@(SessionHelper.LoginUser.IsDistributor ? "d-none" : null)">
                        <div class="icheck-success d-inline">
                            @*<input type="checkbox" name="select_all" id="example-select-all" value="true" checked="checked" disabled="@((ViewBag.Status != OrderStatus.PendingApproval && ViewBag.Status != OrderStatus.PartiallyApproved)  ? "disabled" : null)" />*@
                            <input type="checkbox" name="select_all" id="example-select-all" value="true" checked="checked" disabled="disabled" />
                            <label for="example-select-all"></label>
                        </div>
                    </th>
                    <th>Code</th>
                    <th>Product Name</th>
                    <th>Pack Size</th>
                    <th>Quantity</th>
                    <th>Approved Qty</th>
                    <th>Pending Qty</th>
                    <th>Carton Size</th>
                    <th>Rate</th>
                    <th>Discount</th>
                    <th>Quantity in Cartons</th>
                    <th>Total</th>
                    <th>Supplies</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td class="@(SessionHelper.LoginUser.IsDistributor ? "d-none" : null)">
                            <div class="icheck-success d-inline">
                                @*<input type="checkbox" id="checkbox@(Model[i].Id)" asp-for="@Model[i].IsProductSelected" value="@EncryptDecrypt.Encrypt(Model[i].ProductMasterId.ToString())" checked="@(Model[i].IsProductSelected == true ? "checked" : null)" disabled="@((ViewBag.Status != OrderStatus.PendingApproval && ViewBag.Status != OrderStatus.PartiallyApproved)  ? "disabled" : null)" />*@
                                <input type="checkbox" id="checkbox@(Model[i].Id)" asp-for="@Model[i].IsProductSelected" value="@EncryptDecrypt.Encrypt(Model[i].ProductMasterId.ToString())" checked="@(Model[i].IsProductSelected == true ? "checked" : null)" disabled="disabled" />
                                <label for="checkbox@(Model[i].Id)">
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].ProductMasterId" />
                            <input type="hidden" asp-for="@Model[i].OrderNumber" />
                            @Model[i].ProductMaster.SAPProductCode
                        </td>
                        <td>@Model[i].ProductMaster.ProductName @Model[i].ProductMaster.ProductDescription</td>
                        <td>@Model[i].ProductMaster.PackSize</td>
                        <td>@Model[i].ProductMaster.Quantity</td>
                        <td>
                            @if (ViewBag.View == true)
                            {
                                @Model[i].ProductMaster.ApprovedQuantity
                            }
                            else
                            {
                                <input type="number" asp-for="@Model[i].ProductMaster.ApprovedQuantity" value="@Model[i].ProductMaster.Quantity" class="form-control ApproveQuantity" min="0" max="9999999" step="any" oninput="validity.valid||(value='');" _ProductId="@Model[i].ProductMasterId" _OrderId="@Model[i].OrderNumber" />
                            }
                        </td>
                        <td>@Model[i].PendingQuantity</td>
                        <td><span id="CurtonSize">@Model[i].ProductMaster.CartonSize</span></td>
                        <td>@Model[i].ProductMaster.Rate</td>
                        <td>@Model[i].ProductMaster.Discount %</td>
                        <td><span id="CurtonQty">@(Math.Ceiling(Model[i].ProductMaster.Quantity / Model[i].ProductMaster.CartonSize))</span></td>
                        <td><span class="Amount">@(Model[i].ProductMaster.Quantity * Model[i].ProductMaster.Rate)</span></td>
                        <td>@Model[i].WTaxRate %</td>
                        <td>
                            @Model[i].Company.CompanyName
                            <input type="text" asp-for="@Model[i].Company.Id" value="@Model[i].Company.Id" class="form-control d-none" />
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "10" : "11")"><span class="float-right">Grand Total</span></td>
                    <td colspan="@(SessionHelper.LoginUser.IsDistributor ? "4" : "3")"><strong><span class="TotalNetValue"></span></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
<script src="~/Pages/Common.js"></script>

<script type="text/javascript">

    var table;

    function LaddaBegin() {
        
        Ladda.create($("#Approve")[0]).start();
    }

    $(document).ready(function () {
        $('.select2').select2();

        table = $("#example2").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
            "scrollX": true,
            "sScrollXInner": "150%",
        });
        CalculateTotal();

        //$('.numeric').mask('000,000,000,000');

        $('.ApproveQuantity').bind('keyup mouseup',function (data) {
            debugger;
            var intmaxvalue = @Int32.MaxValue;
            var Quantity = data.currentTarget.value;
            var Product = data.currentTarget.getAttribute("_ProductId");
            var Order = data.currentTarget.getAttribute("_OrderId");
            if (Quantity > intmaxvalue) {
                Toast.fire({
                    icon: 'error',
                    title: "Quantity cannot be greater than " + intmaxvalue
                });
            }
            else {
                var size = parseInt($(this).parent('td').parent('tr').find('#CurtonSize').text());
                if (Quantity != "" && Quantity != undefined) {
                    $(this).parent('td').parent('tr').find('#CurtonQty')[0].innerText = (parseInt(Quantity) / size).toString();

                }
                else {
                    $(this).parent('td').parent('tr').find('#CurtonQty')[0].innerText = "";
                }
                if (Quantity == "" || Quantity == "0") {
                    $(this).parent('td').parent('tr').find(':checkbox')[0].checked = false;
                }
                else {
                    $(this).parent('td').parent('tr').find(':checkbox')[0].checked = true;
                }
                    $.ajax({
                    type: "GET",
                    url: '@Url.Action("ApprovedOrderValue", "Order")',
                    data: { 'Quantity': Quantity, 'Product': Product, 'Order': Order },
                    cache: false,
                    success: function (response) {
                        debugger;
                        $("#UpdateOrderValueId").html(response);
                    },
                    complete: function (response) {

                    }
                })
            }
        });

        $("input[type='checkbox']").change(function (e) {

            if ($(this).attr('Id') != "example-select-all") {
                $.post(window.location.origin + "/Order/SelectProduct", { DPID: $(this).val() }, function (response) {
                });
                if ($(this).is(':checked') == false) {
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', true);
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').val(0);
                } else {
                    $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', false);
                }
            }
        });
        $("#example-select-all").change(function (e) {

            $.post(window.location.origin + "/Order/SelectAllProduct", { IsSelected: $('#example-select-all').is(':checked') }, function (response) {
            });
            if ($(this).is(':checked') == false) {
                $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', true);
                $(this).closest('td').closest('tr').find('.ApproveQuantity').val(0);
            } else {
                $(this).closest('td').closest('tr').find('.ApproveQuantity').prop('readonly', false);
            }
        });
        //// Handle click on "Select all" control
        $('#example-select-all').on('click', function () {
            // Check/uncheck all checkboxes in the table
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        //// Handle click on checkbox to set state of "Select all" control
        $('#example2 tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });

    function CalculateTotal() {
        var sum = 0;
        $(".Amount").each(function () {

            if ($(this).text() != "") {
                sum += parseFloat($(this).text());
            }
        });
        $('.TotalNetValue').text(parseFloat(sum).toLocaleString(window.document.documentElement.lang));
    }
</script>


