@model List<ProductDetail>

<form asp-controller="Order"
      asp-action="ApproveOrder"
      id="frmApproveOrder"
      data-ajax-success="OnSuccess"
      data-ajax-complete="Complete"
      data-ajax="true"
      data-ajax-method="POST">
    <div class="table-responsive-sm">
        <table id="example2" class="table table-bordered table-condensed table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th width="6%">Code</th>
                    <th width="20%">Product Name</th>
                    <th width="9%">Pack Size</th>
                    <th width="5%">Quantity</th>
                    <th width="8%">Approved Quantity</th>
                    <th width="10%">Carton Size</th>
                    <th width="5%">Rate</th>
                    <th width="5%">Discount</th>
                    <th width="15%">Quantity in Packs</th>
                    <th width="17%">Quantity in Cartons</th>
                    <th width="10%">Total</th>
                    <th width="10%">Supplies</th>
                    <th width="10%">Company</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].ProductMasterId" />
                            <input type="hidden" asp-for="@Model[i].OrderNumber" />
                            @Model[i].ProductMaster.SAPProductCode
                        </td>
                        <td>@Model[i].ProductMaster.ProductName @Model[i].ProductMaster.ProductDescription</td>
                        <td>@Model[i].ProductMaster.PackSize</td>
                        <td>@Model[i].ProductMaster.Quantity</td>
                        <td><input type="number" asp-for="@Model[i].ProductMaster.ApprovedQuantity" value="@Model[i].ProductMaster.Quantity" /></td>
                        <td>Carton Size</td>
                        <td>@Model[i].ProductMaster.Rate</td>
                        <td>@Model[i].ProductMaster.Discount %</td>
                        <td>Quantity in Packs</td>
                        <td>Quantity in Cartons</td>
                        <td>@(Model[i].ProductMaster.Quantity * Model[i].ProductMaster.Rate)</td>
                        <td>@Model[i].WTaxRate %</td>
                        <td>@Model[i].Company.CompanyName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
            "scrollX": true,
            "sScrollXInner": "130%",
        });
    });
</script>


