@model IEnumerable<OrderMaster>
@{
    bool approve = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "Order").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Approve));
    bool add = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "Order").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Insert));
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Order List</h2>
                @if (SessionHelper.LoginUser.IsDistributor == true)
                {
                    @*<a asp-controller="OrderForm" asp-action="Create" type="submit" class="btn btn-info float-right @(add ? null : "d-none")" disabled="@(ViewBag.Expired == true ? "disabled" : null)">Add</a>*@
                    <a asp-controller="OrderForm" asp-action="Create" type="submit" class="btn btn-info float-right @(add ? null : "d-none")">Add</a>
                }
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Distributor Name</th>
                            <th>Remarks On Hold</th>
                            <th>Remarks On Reject</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SNo</td>
                                <td>@item.Distributor.DistributorName</td>
                                <td>@item.OnHoldComment</td>
                                <td>@item.RejectedComment</td>
                                <td>@Html.DisplayFor(e => item.Status)</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss tt")</td>
                                <td class="p-1">
                                    <a asp-controller="OrderForm" asp-action="ViewOrder" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="View" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    @if (item.Status == OrderStatus.Draft && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a asp-controller="OrderForm" asp-action="Create" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="Edit" class="btn btn-primary btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    }
                                    @if ((item.Status == OrderStatus.PendingApproval || item.Status == OrderStatus.Onhold) && !SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a asp-controller="OrderForm" asp-action="Approve" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="Approve" class="btn btn-success btn-sm">
                                            <i class="fas fa-thumbs-up"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderStatus.PendingApproval && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a onclick="Cancel('@EncryptDecrypt.Encrypt(item.Id.ToString())');" title="Cancel" class="btn btn-warning btn-sm">
                                            <i class="fas fa-trash-restore"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderStatus.Draft && SessionHelper.LoginUser.IsDistributor && approve)
                                    {
                                        <a onclick="DeleteOrder('@EncryptDecrypt.Encrypt(item.Id.ToString())');" title="Delete" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderStatus.PartiallyApproved && !SessionHelper.LoginUser.IsDistributor && approve)
                                    {
                                        <a onclick="Sync('@EncryptDecrypt.Encrypt(item.Id.ToString())');" title="Sync Partially Approved Order" class="btn btn-primary btn-sm">
                                            <i class="fas fa-sync"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderStatus.PendingApproval && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a onclick="Print('/Reports/Print?', '@ApplicationPages.Order', '@EncryptDecrypt.Encrypt(item.Id.ToString())');" class="btn btn-success btn-sm">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-intimation" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title">License Expiry Intimation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="expirecontent">
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var DistributorId = '@TempData["DistributorId"]';

        if (DistributorId != "") {

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdatePQ", "OrderForm")',
                data: { 'DPID': DistributorId },
                cache: false,
                success: function (data) {
                }
            });
        }

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": true,
            "order": [[0, "desc"]]

        });

        var days = JSON.parse('@Html.Raw(ViewBag.Days)');
        if (days != '') {
            $.each(days, function (index, day) {
                if (parseInt(day.Value) <= 0) {
                    $('#expirecontent').append('Your ' + day.Key + ' license has expired, please upload your renewal license. <br />');
                        $('#modal-intimation').modal('toggle');
                        $('#modal-intimation').modal('show');
                } else if (parseInt(day.Value) > 0) {
                    var val = day.Value == '1' ? 'day' : 'days';
                    $('#expirecontent').append('Your ' + day.Key + ' license will be expired within ' + day.Value + ' ' + val + ', please upload your license before the expiry date, other wise you can not place the order. <br />');
                    $('#modal-intimation').modal('toggle');
                    $('#modal-intimation').modal('show');
                }
            });
        }
    });

    function Cancel(Id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to cancel this order!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Cancel it!'
        }).then((result) => {

            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Cancel", "Order")',
                    data: { 'DPID': Id },
                    cache: false,
                    success: function (response) {
                        Swal.fire('Saved!', response.Message, 'success')
                        window.location.reload();
                    }
                });
            }
        });
    }

    function DeleteOrder(Id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to delete this order!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Delete it!'
        }).then((result) => {

            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteOrder", "Order")',
                    data: { 'DPID': Id },
                    cache: false,
                    success: function (response) {
                        Swal.fire('Saved!', response.Message, 'success');
                        window.location.reload();
                    }
                });
            }
        });
    }

    function Sync(Id) {
        Begin();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SyncPartiallyApproved", "OrderForm")',
            data: { 'DPID': Id },
            cache: false,
            success: function (data) {
                OnSuccess(data);
            }
        });
    }

</script>