@model IEnumerable<OrderMaster>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Order List</h2>
                @if (SessionHelper.LoginUser.IsDistributor == true)
                {
                    <a asp-action="Add"
                       asp-controller="Order"
                       class="btn btn-info float-right">Add</a>
                }
            </div>
            <!-- /.card-header -->
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Distributor Name</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@string.Format("{0:1000000000}", item.Id)</td>
                                <td>@item.Distributor.DistributorName</td>
                                <td>@Html.DisplayFor(e => item.Status)</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a asp-controller="Order" asp-action="OrderView" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="View" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    @if (item.Status == OrderStatus.Draft && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a asp-controller="Order" asp-action="Add" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="Edit" class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    }
                                    @if ((item.Status == OrderStatus.PendingApproval || item.Status == OrderStatus.PartiallyApproved) && !SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a asp-controller="Order" asp-action="Approve" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" title="Approve" class="btn btn-success btn-sm">
                                            <i class="fas fa-thumbs-up"></i>
                                        </a>
                                    }
                                    @if (item.Status == OrderStatus.PendingApproval && SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <a onclick="Cancel('@EncryptDecrypt.Encrypt(item.Id.ToString())');" title="Cancel" class="btn btn-warning btn-sm">
                                            <i class="fas fa-trash-restore"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });
    });

    function Cancel(Id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to cancel this order!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Cancel it!'
        }).then((result) => {
            debugger;
            if (result.value) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Cancel", "Order")',
                    data: { 'DPID': Id },
                    cache: false,
                    success: function (response) {
                        debugger;
                        Swal.fire('Saved!', response.Message, 'success')
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                });
            }
        })
    }
</script>