@model IEnumerable<Distributor>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Distributor List</h2>
                <form asp-controller="Distributor"
                      asp-action="Sync"
                      id="frmAdd"
                      data-ajax-update="#divform"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="OnComplete">
                    <button type="submit" class="btn btn-info float-right">Sync</button>
                </form>
            </div>
            <!-- /.card-header -->
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Region</th>
                            <th>City</th>
                            <th>Distributor Code</th>
                            <th>SAP Distributor Code</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>NTN</th>
                            <th>CNIC</th>
                            <th>Email Address</th>
                            <th>Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Region.RegionName</td>
                            <td>@item.City</td>
                            <td>@item.DistributorCode</td>
                            <td>@item.DistributorSAPCode</td>
                            <td>@item.DistributorName</td>
                            <td>@item.DistributorAddress</td>
                            <td>@item.NTN</td>
                            <td>@item.CNIC</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.CustomerGroup</td>                           
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<script>
        $(document).ready(function () {
            $("#example1").DataTable({
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "responsive": true,
                "autoWidth": false,
            });
        });
</script>