@model IEnumerable<Complaint>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Complaint List</h2>
                <form asp-controller="Complaint"
                      asp-action="Add"
                      id="frmAdd"
                      method="GET">
                    @if (SessionHelper.LoginUser.IsDistributor == true)
                    {
                        <button type="submit" class="btn btn-info float-right">Add</button>
                    }
                </form>
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Complaint No</th>
                            <th>Distributor Name</th>
                            <th>Category Name</th>
                            <th>Sub Category Name</th>
                            <th>Status</th>
                            <th>Create Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => SessionHelper.LoginUser.IsDistributor ? x.Status != ComplaintStatus.Resolved : true))
                        {
                            <tr>
                                <td>@string.Format("{0:1000000000}", item.Id)</td>
                                <td>@item.Distributor.DistributorName</td>
                                <td>@item.ComplaintCategory.ComplaintCategoryName</td>
                                <td>@item.ComplaintSubCategory.ComplaintSubCategoryName</td>
                                <td>
                                    @if (item.Status == ComplaintStatus.Resolved)
                                    {
                                        string description = EnumHelper<ComplaintStatus>.GetDisplayValue(ComplaintStatus.InProcess);
                                        <span class="badge badge-warning pull-right" style="margin-left:5px;">@Html.DisplayFor(e => description)</span>
                                    }
                                    else if (item.Status == ComplaintStatus.Approved)
                                    {
                                        <span class="badge badge-success float-left" style="margin-left:5px;">@item.Status</span>
                                    }
                                    else if (item.Status == ComplaintStatus.Pending)
                                    {
                                        <span class="badge badge-danger float-left" style="margin-left:5px;">@item.Status</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-info float-left" style="margin-left:5px;">@item.Status</span>
                                    }
                                </td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                <td>
                                    <a asp-controller="Complaint" asp-action="ComplaintApproval" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });

        $('.select2').select2();

    });

</script>