@model List<OrderDetail>
@{
    ViewData["Title"] = "View Order";
    var m = ViewBag.OrderValue;
}

<style>
    .ordervalue > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
        padding: 1px;
    }

    .ordervalue > thead > tr > th {
        text-align: center;
        vertical-align: middle;
        padding: 0;
    }

    .ordervalue > tr {
        padding: 0;
        font-size: 11px
    }

    .card-header {
        padding: 5px 15px 0px 15px;
    }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1
    }

    body {
        overflow-x: hidden;
    }

    .col-lg-2 {
        flex-basis: 10.6667%
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid sticky" id="pageHeader">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary h-90">
                        <div class="card-header">
                            <h3 class="card-title">Order Form</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body p-0" id="UpdateOrderValueId">
                            <partial name="OrderValue" model="m" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary grid" id="overflow">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h3 class="card-title">Order Quantities</h3>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <span class="text-center"><strong>Order No: @Model.First().OrderMaster.SNo</strong></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card-tools float-right">
                                        <button id="expand" type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>Name:</h6>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <span><strong>@Model[0].OrderMaster.Distributor.DistributorName</strong></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>City:</h6>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <span><strong>@Model[0].OrderMaster.Distributor.City</strong></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>Code:</h6>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <span><strong>@Model[0].OrderMaster.Distributor.DistributorSAPCode</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>Reference No:</h6>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <span><strong>@Model[0].OrderMaster.ReferenceNo</strong></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">

                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>Attachment:</h6>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <span class="caption">
                                            <strong>
                                                <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model != null & !string.IsNullOrEmpty(Model[0].OrderMaster.Attachment) ? Model[0].OrderMaster.Attachment : "")" target="_blank">@(Model != null & !string.IsNullOrEmpty(Model[0].OrderMaster.Attachment) ? Model[0].OrderMaster.Attachment.Split('_')[1] : "")</a>
                                            </strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <h6>Remarks:</h6>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <span><strong>@Model[0].OrderMaster.Remarks</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <label style="margin-top: 15px;">Total Value of Order:&nbsp;&nbsp;&nbsp;</label><strong>@(((OrderValueViewModel)ViewBag.OrderValue).NetPayable.ToString("#,##0.00"))</strong>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <table id="example1" class="table table-bordered table-condensed table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Product Name</th>
                                                <th>Pack Size</th>
                                                <th>Carton Size</th>
                                                <th>SF Size</th>
                                                <th>Qty. (Units)</th>
                                                <th>Trade Price</th>
                                                <th>Discount</th>
                                                <th>Net Value</th>
                                                <th>QTY. (CTN)</th>
                                                <th>QTY. (SF)</th>
                                                <th>QTY. (Loose)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.ProductMaster.SAPProductCode</td>
                                                    <td>@item.ProductMaster.ProductDescription</td>
                                                    <td>@item.ProductMaster.PackSize</td>
                                                    <td>@item.ProductMaster.CartonSize</td>
                                                    <td>@item.ProductMaster.SFSize</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.ProductPrice.ToString("#,##0.00")</td>
                                                    <td>@item.Discount %</td>
                                                    <td>@item.Amount.ToString("#,##0.00")</td>
                                                    <td>@Math.Ceiling((item.Quantity / item.ProductMaster.CartonSize))</td>
                                                    <td>@(Math.Ceiling((item.Quantity - ((item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize) / item.ProductMaster.SFSize)).ToString() == "-∞" ? 0 : Math.Ceiling((item.Quantity - ((item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize) / item.ProductMaster.SFSize)))</td>
                                                    <td>@((item.Quantity - ((item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize ) + ( ( item.Quantity - ( (item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize )  / item.ProductMaster.SFSize) * item.ProductMaster.SFSize )).ToString() == "NaN" ? 0 : (item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize  + ( ( item.Quantity - ( (item.Quantity / item.ProductMaster.CartonSize) * item.ProductMaster.CartonSize )  / item.ProductMaster.SFSize) * item.ProductMaster.SFSize ))</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            //scrollX: true,
            //scrollY: "410px",
            //sScrollXInner: "150%",
            scrollCollapse: true,
            paging: false,
            //fixedColumns: {
            //    leftColumns: 4
            //},
            lengthMenu: [[14, 25, 50, -1], [14, 25, 50, "All"]],
            responsive: true,
            autoWidth: false,
            order: []
        });
    });

        $('body').on('click', '#expand', function () {
            $('#overflow').css('overflow', 'scroll');
        });
</script>
