@model AccountDashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    body {
        min-height: 400px;
        margin-bottom: 50px;
        clear: both;
    }
</style>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-info elevation-1">
                            <i class="fas fa-money-bill-alt"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Current Year Payment</span>
                            <span class="info-box-number">@Model.VerifiedPayment</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1">
                            <i class="fas fa-money-bill-alt"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Unverified Payment</span>
                            <span class="info-box-number">@Model.UnverifiedPaymentCount</span>
                            <span class="info-box-number">Amount: @Model.UnverifiedPayment</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1">
                            <i class="fas fa-money-bill-alt"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Today's Verified Payment</span>
                            <span class="info-box-number">@Model.TodayVerifiedPayment</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Payment Comparision - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="PaymentWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Order Payment Status - Last 12 Months</h3>
                        </div>
                        <div class="card-body" id="PaymentWiseStatus" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row" id="RecentPaymentStatus" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
            </div>
        </div>
    </section>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            GetAccountPaymentWiseStatus();
            GetAccountPaymentWiseComparision();
            GetAccountRecentPaymentStatus();
        });

        function GetAccountPaymentWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetAccountPaymentWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#PaymentWiseComparision').html(result);
                    $("#PaymentWiseComparision").next().remove();
                }
            });
        }
        function GetAccountPaymentWiseStatus() {

            $.ajax({
                url: '@Url.Action("GetAccountPaymentWiseStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#PaymentWiseStatus').html(result);
                    $("#PaymentWiseStatus").next().remove();
                }
            });
        }
        function GetAccountRecentPaymentStatus() {

            $.ajax({
                url: '@Url.Action("GetAccountRecentPaymentStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#RecentPaymentStatus').html(result);
                    $("#RecentPaymentStatus").next().remove();
                }
            });
        }

    </script>
}
