@model AdminDashboardViewModel
@using Utility
@{
    ViewData["Title"] = "Home Page";
    int MaxOrder = Model.PendingApproval + Model.OnHold + Model.Reject + Model.Approved + Model.InProcess + Model.PartiallyProcessed + Model.CompletelyProcessed;
}
<style type="text/css">
    body {
        min-height: 400px;
        margin-bottom: 50px;
        clear: both;
    }
</style>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.PendingOrder</h3>
                            <p>Pending Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ExtensionUtility.FormatNumberAmount(Model.UnverifiedPayment)</h3>
                                <p>Unverified Payment</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-money-bill-alt"></i>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-4 col-6">
                    <div class="small-box bg-gradient-secondary">
                        <div class="inner">
                            <h3>@Model.ReturnOrder</h3>
                            <p>Return Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-undo-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.Complaint</h3>
                            <p>Complaints</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Value Comparison - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="PaymentWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Count Comparison - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="OrderWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none" id="Balance">
                <div class="col-lg-4 col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Payments - @DateTime.Now.Year</h3>
                            <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>

                        </div>
                        <div class="card-body">
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-12 text-center">
                                    <input type="text" class="knob" value="@Model.VerifiedPayment" title="@Model.VerifiedPayment.ToString("#,##0.00")" data-min="0" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#28a745" readonly="readonly" disabled="disabled">
                                    <div class="knob-label">Verified Payment</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <input type="text" class="knob" value="@Model.UnverifiedPayment" title="@Model.UnverifiedPayment.ToString("#,##0.00")" data-min="0" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#dc3545" readonly="readonly" disabled="disabled">
                                    <div class="knob-label">Unverified Payment</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Orders - @DateTime.Now.Year</h3>
                            <a asp-controller="Order" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.PendingApproval">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.PendingApproval" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#f56954">
                                        <div class="knob-label">Pending Approval</div>
                                    </form>
                                </div>
                                <div class="col-4 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Onhold">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.OnHold" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#6c757d">
                                        <div class="knob-label">On Hold</div>
                                    </form>
                                </div>
                                <div class="col-4 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Rejected">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.Reject" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#ffc107">
                                        <div class="knob-label">Reject</div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Approved">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.Approved" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#6c757d">
                                        <div class="knob-label">Approved</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.InProcess">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.InProcess" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#39CCCC">
                                        <div class="knob-label">In Process</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.PartiallyProcessed">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.PartiallyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#932ab6">
                                        <div class="knob-label">Partially Processed</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.CompletelyProcessed">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.CompletelyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#00a65a">
                                        <div class="knob-label">Completely Processed</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Payment Status - Last 12 Months</h3>
                        </div>
                        <div class="card-body" id="RecentPaymentStatus" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-blue">
                        <div class="card-header">
                            <h3 class="card-title">Region Wise Orders</h3>
                        </div>
                        <div class="card-body" id="RegionWiseOrder" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdminRecentPaymentOrderStatus">
            </div>
        </div>
    </section>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            GetAdminPaymentWiseComparision();
            GetAdminOrderWiseComparision();
            GetAdminPaymentWiseStatus();
            GetAdminRegionWiseOrder();
            GetAdminRecentPaymentStatus();
        });

        function GetAdminPaymentWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetAdminPaymentWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#PaymentWiseComparision').html(result);
                    $("#PaymentWiseComparision").next().remove();
                }
            });
        }
        function GetAdminOrderWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetAdminOrderWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#OrderWiseComparision').html(result);
                    $("#OrderWiseComparision").next().remove();
                    $('#Balance').removeClass('d-none');
                }
            });
        }
        function GetAdminPaymentWiseStatus() {

            $.ajax({
                url: '@Url.Action("GetAdminPaymentWiseStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#RecentPaymentStatus').html(result);
                    $("#RecentPaymentStatus").next().remove();
                }
            });
        }
        function GetAdminRegionWiseOrder() {

            $.ajax({
                url: '@Url.Action("GetAdminRegionWiseOrder", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#RegionWiseOrder').html(result);
                    $("#RegionWiseOrder").next().remove();
                }
            });
        }
        function GetAdminRecentPaymentStatus() {

            $.ajax({
                url: '@Url.Action("GetAdminRecentPaymentStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#AdminRecentPaymentOrderStatus').html(result);
                    $("#AdminRecentPaymentOrderStatus").next().remove();
                }
            });
        }




    </script>
}