@model DistributorDashboardViewModel
@{
    ViewData["Title"] = "Home";
    var m = new OrderSearch();
    int MaxOrder = Model.Draft + Model.PendingApproval + Model.OnHold + Model.Reject + Model.Approved + Model.InProcess + Model.PartiallyProcessed + Model.CompletelyProcessed;
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box" data-toggle="Sum of Pending Approval + Partially Approved + On Hold" title="Pending Approval + Partially Approved + On Hold">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-truck"></i></span>
                        <div class="info-box-content">
                            <span>Total in Process Orders</span>
                            <span class="info-box-number">@Model.InProcessOrderCount</span>
                            <span class="info-box-number">Order Value: @Model.InProcessOrderValue</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1">
                            <i class="fas fa-money-bill-alt"></i>
                        </span>

                        <div class="info-box-content">
                            <span>Total Unverified Payments</span>
                            <span class="info-box-number">@Model.UnverifiedPaymentAllCount</span>
                            <span class="info-box-number">Amount: @Model.UnverifiedPaymentAll</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-gradient-secondary elevation-1">
                            <i class="fas fa-undo-alt"></i>
                        </span>

                        <div class="info-box-content">
                            <span>Return Orders</span>
                            <span class="info-box-number">@Model.ReturnOrder</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard-list"></i></span>

                        <div class="info-box-content">
                            <span>Complaints</span>
                            <span class="info-box-number">@Model.Complaint</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Value Comparison - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="PaymentWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary" style="height: 329px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i>
                                Policies
                            </h3>
                        </div>
                        <div class="card-body scrollmenu">
                            @foreach (var item in Model.PolicyList.OrderBy(x => x.Sort))
                            {
                                <div class="@item.Style">
                                    <h5><i class="@item.Icon"></i> @item.Title</h5>
                                    <p>@item.Message</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Count Comparison - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="OrderWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Payments</h3>
                            <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>
                        </div>
                        <div class="card-body" id="DistributorBalance" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@Model.VerifiedPayment.ToString("#,##0.00")" value="@Model.VerifiedPayment" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#28a745">
                                    <div class="knob-label">Verified Payment</div>
                                </div>
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@Model.UnverifiedPayment.ToString("#,##0.00")" value="@Model.UnverifiedPayment" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#dc3545">
                                    <div class="knob-label">Unverified Payment</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" id="SAMIBalance" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#39CCCC">
                                    <div class="knob-label">SAMI Balance</div>
                                </div>
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" id="HealthtekBalance" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#932ab6">
                                    <div class="knob-label">Healthtek Balance</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Orders</h3>
                            <a asp-controller="Order" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Draft">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.Draft" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#6c757d">
                                        <div class="knob-label">Draft</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.PendingApproval">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.PendingApproval" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#f56954">
                                        <div class="knob-label">Pending Approval</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Onhold">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.OnHold" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#932ab6">
                                        <div class="knob-label">On Hold</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Rejected">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.Reject" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#ffc107">
                                        <div class="knob-label">Reject</div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.Approved">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.Approved" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#6c757d">
                                        <div class="knob-label">Approved</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.InProcess">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.InProcess" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#39CCCC">
                                        <div class="knob-label">In Process</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.PartiallyProcessed">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.PartiallyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#932ab6">
                                        <div class="knob-label">Partially Processed</div>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <form asp-controller="Order"
                                          asp-action="Index"
                                          id="OrderSearch"
                                          asp-route-orderStatus="@OrderStatus.CompletelyProcessed">
                                        <input type="submit" readonly="readonly" class="knob" value="@Model.CompletelyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#00a65a">
                                        <div class="knob-label">Completely Processed</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Payment Status - Last 12 Months</h3>
                        </div>
                        <div class="card-body" id="RecentPaymentStatus" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Pending Products</h3>
                        </div>
                        <div class="card-body" id="DistributorPendingQuantity" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div id="DistributorRecentPaymentOrderStatus">
            </div>
        </div>
    </section>
</div>

<script src="~/lib/plugins/chart.js/Chart.min.js"></script>
<script src="~/lib/dist/js/demo.js"></script>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var value = localStorage.getItem('disclaimer');

            if (value == "false" || value == null) {
                $('#modal-disclaimer').modal('toggle');
                $('#modal-disclaimer').modal('show');

                localStorage.clear();
                localStorage.setItem('disclaimer', "true");
            }
            GetDistributorPendingQuantity();
            GetDistributorBalance();
            GetDistributorPaymentWiseComparision();
            GetDistributorOrderWiseComparision();
            GetDistributorPaymentWiseStatus();
            GetDistributorRecentPaymentStatus();
            //GetSAPOrderPendingValueAsync();
        });

        function GetDistributorPaymentWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetDistributorPaymentWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#PaymentWiseComparision').html(result);
                    $("#PaymentWiseComparision").next().remove();
                }
            });
        }
        function GetDistributorOrderWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetDistributorOrderWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#OrderWiseComparision').html(result);
                    $("#OrderWiseComparision").next().remove();
                    $('#Balance').removeClass('d-none');
                }
            });
        }
        function GetDistributorPaymentWiseStatus() {

            $.ajax({
                url: '@Url.Action("GetDistributorPaymentWiseStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#RecentPaymentStatus').html(result);
                    $("#RecentPaymentStatus").next().remove();
                }
            });
        }
        function GetDistributorRecentPaymentStatus() {

            $.ajax({
                url: '@Url.Action("GetDistributorRecentPaymentStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#DistributorRecentPaymentOrderStatus').html(result);
                    $("#DistributorRecentPaymentOrderStatus").next().remove();
                }
            });
        }
        function GetDistributorPendingQuantity() {

            $.ajax({
                url: '@Url.Action("GetDistributorPendingQuantity", "Home")',
                contentType: 'application/html; charset=utf-8',
                type: 'POST',
                 dataType: 'html',
                success: function (result) {
                        $('#DistributorPendingQuantity').html(result);
                        $("#DistributorPendingQuantity").next().remove();
                }
            });
        }
        function GetDistributorBalance() {

            $.ajax({
                url: '@Url.Action("GetDistributorBalance", "Home")',
                type: 'POST',
                success: function (result) {
                    $('#SAMIBalance').text(result.data[0].Value);
                    $('#SAMIBalance').val(result.data[0].Value);
                    $('#SAMIBalance').attr("title",result.data[0].Value);
                    $('#SAMIBalance').attr("data-min", result.data[2].Value);
                    $('#SAMIBalance').attr("data-max", result.data[3].Value);
                    $('#HealthtekBalance').val(result.data[1].Value);
                    $('#HealthtekBalance').attr("title",result.data[1].Value);
                    $('#HealthtekBalance').attr("data-min", result.data[2].Value);
                    $('#HealthtekBalance').attr("data-max", result.data[3].Value);
                    $("#DistributorBalance").next().remove();
                }
            });
        }
        function GetSAPOrderPendingValueAsync() {

            $.post({
                url: "/Home/Get",
                type: 'POST',
                async: true,
                success: function (result) {
                }
            });
        }
    </script>
}

