@model DistributorDashboardViewModel
@{
    ViewData["Title"] = "Home";
    int MaxOrder = Model.PendingApproval + Model.InProcess + Model.PartiallyProcessed + Model.CompletelyProcessed + Model.Reject + Model.ReturnOrder + Model.Draft;
}

<style type="text/css">
    body {
        min-height: 400px;
        margin-bottom: 50px;
        clear: both;
    }
</style>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Total in Process Orders</span>
                            <span class="info-box-number">@Model.InProcessOrderCount</span>
                            <span class="info-box-number">Order Value: @Model.InProcessOrderValue</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1">
                            <i class="fas fa-money-bill-alt"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Unverfied Payments</span>
                            <span class="info-box-number">@Model.UnverifiedPaymentAllCount</span>
                            <span class="info-box-number">Amount: @Model.UnverifiedPaymentAll</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-gradient-secondary elevation-1">
                            <i class="fas fa-undo-alt"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Return Orders</span>
                            <span class="info-box-number">@Model.ReturnOrder</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Complaints</span>
                            <span class="info-box-number">@Model.Complaint</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Value Status - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="PaymentWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Order Count Status - Last 12 Months</h3>
                            </div>
                        </div>
                        <div class="card-body" id="OrderWiseComparision" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none" id="Balance">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Payments - @DateTime.Now.Year</h3>
                            <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@Model.VerifiedPayment" value="@Model.VerifiedPayment" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#28a745">
                                    <div class="knob-label">Verified Payment</div>
                                </div>
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@Model.UnverifiedPayment" value="@Model.UnverifiedPayment" data-max="@(Model.VerifiedPayment + Model.UnverifiedPayment)" data-width="90" data-height="90" data-fgColor="#dc3545">
                                    <div class="knob-label">Unverified Payment</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@SessionHelper.DistributorBalance.SAMI" value="@SessionHelper.DistributorBalance.SAMI" data-min="@(SessionHelper.DistributorBalance.SAMI + SessionHelper.DistributorBalance.HealthTek)" data-max="@(SessionHelper.DistributorBalance.SAMI + SessionHelper.DistributorBalance.HealthTek)" data-width="90" data-height="90" data-fgColor="#39CCCC">

                                    <div class="knob-label">SAMI Balance</div>
                                </div>
                                <div class="col-6 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" title="@SessionHelper.DistributorBalance.HealthTek" value="@SessionHelper.DistributorBalance.HealthTek" data-min="@(SessionHelper.DistributorBalance.SAMI + SessionHelper.DistributorBalance.HealthTek)" data-max="@(SessionHelper.DistributorBalance.SAMI + SessionHelper.DistributorBalance.HealthTek)" data-width="90" data-height="90" data-fgColor="#39CCCC">

                                    <div class="knob-label">Healthtek Balance</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i>Orders - @DateTime.Now.Year</h3>
                            <a asp-controller="Order" asp-action="Index" class="btn btn-outline-primary float-right">View All</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.PendingApproval" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#f56954">
                                    <div class="knob-label">Pending Approval</div>
                                </div>
                                <div class="col-4 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.InProcess" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#39CCCC">
                                    <div class="knob-label">In Process</div>
                                </div>
                                <div class="col-4 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.PartiallyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#932ab6">
                                    <div class="knob-label">Partially Processed</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.CompletelyProcessed" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#00a65a">
                                    <div class="knob-label">Completely Processed</div>
                                </div>
                                <div class="col-3 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.OnHold" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#932ab6">
                                    <div class="knob-label">On Hold</div>
                                </div>
                                <div class="col-3 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.Reject" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#ffc107">
                                    <div class="knob-label">Reject</div>
                                </div>
                                <div class="col-3 text-center">
                                    <input type="text" readonly="readonly" disabled="disabled" class="knob" value="@Model.Draft" data-min="0" data-max="@MaxOrder" data-width="90" data-height="90" data-fgColor="#6c757d">
                                    <div class="knob-label">Draft</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Payment Status - Last 12 Months</h3>
                        </div>
                        <div class="card-body" id="RecentPaymentStatus" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Pending Products</h3>
                        </div>
                        <div class="card-body" id="DistributorPendingQuantity" data-card-widget="card-refresh" data-source="~/Pages/widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="true">
                        </div>
                    </div>
                </div>
            </div>
            <div id="DistributorRecentPaymentOrderStatus">
            </div>
        </div>
    </section>
</div>

<!-- OPTIONAL SCRIPTS -->
<script src="~/lib/plugins/chart.js/Chart.min.js"></script>
<script src="~/lib/dist/js/demo.js"></script>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var value = localStorage.getItem('disclaimer');

            if (value == "false" || value == null) {

                $('#modal-disclaimer').modal('toggle');
                $('#modal-disclaimer').modal('show');

                localStorage.clear();
                localStorage.setItem('disclaimer', "true");
            }

              GetDistributorPaymentWiseComparision();
              GetDistributorOrderWiseComparision();
              GetDistributorPaymentWiseStatus();
              GetDistributorRecentPaymentStatus();
              GetDistributorPendingQuantity();
        });

        function GetDistributorPaymentWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetDistributorPaymentWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#PaymentWiseComparision').html(result);
                    $("#PaymentWiseComparision").next().remove();
                }
            });
        }
        function GetDistributorOrderWiseComparision() {

            $.ajax({
                url: '@Url.Action("GetDistributorOrderWiseComparision", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#OrderWiseComparision').html(result);
                    $("#OrderWiseComparision").next().remove();
                    $('#Balance').removeClass('d-none');
                }
            });
        }
        function GetDistributorPaymentWiseStatus() {

            $.ajax({
                url: '@Url.Action("GetDistributorPaymentWiseStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#RecentPaymentStatus').html(result);
                    $("#RecentPaymentStatus").next().remove();
                }
            });
        }
        function GetDistributorRecentPaymentStatus() {

            $.ajax({
                url: '@Url.Action("GetDistributorRecentPaymentStatus", "Home")',
                contentType: 'application/html; charset=utf-8',
                 type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#DistributorRecentPaymentOrderStatus').html(result);
                    $("#DistributorRecentPaymentOrderStatus").next().remove();
                }
            });
        }
        function GetDistributorPendingQuantity() {

            $.ajax({
                url: '@Url.Action("GetDistributorPendingQuantity", "Home")',
                contentType: 'application/html; charset=utf-8',
                type: 'POST',
                 dataType: 'html',
                success: function (result) {
                    $('#DistributorPendingQuantity').html(result);
                    $("#DistributorPendingQuantity").next().remove();
                }
            });
        }
    </script>
}

