@model IEnumerable<User>
@{
    bool insert = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "User").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Insert));
    bool update = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "User").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Update));
    bool delete = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "User").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Delete));
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">User List</h2>
                <form asp-controller="User"
                      asp-action="Add"
                      id="frmAdd"
                      data-ajax-update="#divform"
                      data-ajax="true"
                      data-ajax-method="GET"
                      method="GET">
                    <button type="submit" class="btn btn-info float-right">Add</button>
                </form>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Is Distributor</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.Role.RoleName</td>
                                <td>
                                    @if (item.IsDistributor)
                                    {<i class="fa fa-check text-navy"></i> }
                                    else
                                    {<i class="fa fa-times text-danger"></i>}
                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {<i class="fa fa-check text-navy"></i> }
                                    else
                                    {<i class="fa fa-times text-danger"></i>}
                                </td>
                                <td class="p-1">
                                    <a data-ajax-update="#divform"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       asp-controller="User" asp-action="Add" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-info btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a onclick="Delete(this);" id="@EncryptDecrypt.Encrypt(item.Id.ToString())" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
        });
    });
    function Delete(e) {
        Swal.fire({
            title: "Are you sure you want to continue?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
            showLoaderOnConfirm: true
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("Delete", "User")?DPID=' + e.id, null, function (data) {
                    if (data) {
                        Toast.fire({ icon: 'success', title: '@NotificationMessage.DeletedSuccessfully' });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else {
                        Toast.fire({ icon: 'error', title: '@NotificationMessage.ErrorOccurred' });
                    }
                });
            }
        });
    }

</script>