@model List<DistributorLicense>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">License List</h2>
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped"  >
                    <thead>
                        <tr>
                            <th>Distributor</th>
                            <th>License</th>
                            <th>Type</th>
                            <th>Request Type</th>
                            <th width="15%">Attachment</th>
                            <th>Issue</th>
                            <th>Expiry</th>
                            <th>Uploaded Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Distributor.DistributorName</td>
                                <td>@item.LicenseControl.LicenseName</td>
                                <td>@item.Type</td>
                                <td>@Html.DisplayFor(x => item.RequestType)</td>
                                <td>
                                    <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(item.Attachment != null ? item.Attachment : "")" target="_blank">@(item.Attachment != null ? item.Attachment.Split('_')[1] : "")</a>
                                </td>
                                <td>@item.IssueDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.Expiry.ToString("dd/MM/yyyy")</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (item.Status == LicenseStatus.Verified)
                                    {
                                        <span class="badge badge-success">@item.Status</span>
                                    }
                                    else if (item.Status == LicenseStatus.Submitted)
                                    {
                                        <span class="badge badge-warning">@item.Status</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">@item.Status</span>
                                    }
                                </td>
                                <td class="p-1">
                                    <a onclick="UpdateStatus('Verified', 'DistributorLicense', 'UpdateStatus', @item.Id);" title="Approve" class="btn btn-success btn-sm @(item.Status != LicenseStatus.Submitted ? "d-none" : null)">
                                        <i class="fas fa-thumbs-up"></i>
                                    </a>
                                    <a onclick="UpdateStatus('Rejected', 'DistributorLicense', 'UpdateStatus', @item.Id);" title="Reject" class="btn btn-danger btn-sm @(item.Status != LicenseStatus.Submitted ? "d-none" : null)">
                                        <i class="fas fa-thumbs-down"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#example1").dataTable().fnDestroy();
        $("#example1").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });

        $('.select2').select2({
            width: '100%',
        });
    });

</script>