@model List<DistributorLicense>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">License List</h2>                
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Distributor</th>
                            <th>License</th>
                            <th>Type</th>
                            <th>Attachment</th>
                            <th>Issue</th>
                            <th>Expiry</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Distributor.DistributorName</td>
                            <td>@item.LicenseControl.LicenseName</td>
                            <td>@item.Type</td>
                            <td>@item.Attachment</td>
                            <td>@item.IssueDate</td>
                            <td>@item.Expiry</td>
                            <td>@item.Status</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],

        });

        $('.select2').select2();

        //Date range picker
        $('.date').datetimepicker({
            format: 'L',
            todayHighlight: true,
            maxDate: moment()
        });

    });

</script>