@model IEnumerable<OrderReturnMaster>

<style type="text/css">
    td.details-control {
        background: url('//datatables.net/examples/resources/details_open.png') no-repeat center center !important;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('//datatables.net/examples/resources/details_close.png') no-repeat center center !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Order Return List</h2>
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Order Return No</th>
                            <th>TR No</th>
                            @if (!SessionHelper.LoginUser.IsDistributor)
                            {
                                <th>Distributor Name</th>
                            }
                            <th>Status</th>
                            <th>Order Return By</th>
                            <th>Order Return Date</th>
                            <th>Received By</th>
                            <th>Received Date</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="details-control"><input class="hdnGatePassMasterId" type="hidden" value="@EncryptDecrypt.Encrypt(item.Id.ToString())" /></td>
                                    <td>@item.SNo</td>
                                    <td>@item.TRNo</td>
                                    @if (!SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <td>@item.Distributor.DistributorName</td>
                                    }
                                    <td>@Html.DisplayFor(x => item.Status)</td>
                                    <td>@item.CreatedName</td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss tt")</td>
                                    <td>@item.ReceivedName</td>
                                    <td>@item.ReceivedDate</td>
                                    <td class="p-1">
                                        <a asp-controller="OrderReturn" asp-action="View" asp-route-DPID="@EncryptDecrypt.Encrypt(item.Id.ToString())" asp-route-RedirectURL="/Reports/OrderReturn" class="btn btn-info btn-sm">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a onclick="Print('/Reports/Print?', '@ApplicationPages.OrderReturn', '@EncryptDecrypt.Encrypt(item.Id.ToString())', '@item.OrderReturnReasonId');" class="btn btn-success btn-sm">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Return Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollmenu" id="modal-detail">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTR">
    <div class="modal-dialog">
        <form asp-controller="Reports"
              asp-action="Print"
              id="frmPrint"
              method="get"
              target="_blank"
              autocomplete="off">
            <input type="hidden" value="@ApplicationPages.OrderReturn" name="ApplicationPage" id="ApplicationPage" />
            <input type="hidden" value="" name="DPID" id="DPID" />
            <div class="modal-content">
                <div class="modal-header">
                    <div class="text-center">
                        <h6>Enter TR number for given location to print return order</h6>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="SiteTRNo" id="SiteTRNo" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 d-none" placeholder="Site TR No" autocomplete="off" />
                        <span id="errorSiteTRNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="KorangiTRNo" id="KorangiTRNo" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 d-none" placeholder="Korangi TR No" autocomplete="off" />
                        <span id="errorKorangiTRNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="SITEPhytek" id="SITEPhytek" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 d-none" placeholder="SITE Phytek TR No" autocomplete="off" />
                        <span id="errorSITEPhytek" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="KorangiPhytek" id="KorangiPhytek" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 d-none" placeholder="Korangi Phytek TR No" autocomplete="off" />
                        <span id="errorKorangiPhytek" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="PrintIt" onclick="OrderReturnPrintForm();" class="btn btn-primary" formtarget="_blank">Print</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('[Id$=example1]').DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
        });
        $("#example1").dataTable().fnDestroy();
        dataTableExportExcel("example1", "Order Return");
        // Add event listener for opening and closing details
        $('#example1 tbody').on('click', 'td.details-control', function () {
             ;
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var OrderReturnId = $(row.data()[0]).val();
            BlockUI();
            $.ajax({
                type: 'GET',
                url: '/Reports/GetOrderReturnDetailList',
                data: { DPID: OrderReturnId },
                success: function (response) {
                    UnBlockUI();
                    $('#modal-detail').html(response);
                    $('#modal-default').modal('toggle');
                    $('#modal-default').modal('show');
                }
            });
        });

    });

</script>
