@model List<OrderReturnDetail>
@inject IUnitOfWork unitOfWork

@{
    Layout = null;
    int i = 1;
    int j = 1;
    int PageNo = 1;
    List<PlantLocation> PlantLocationList = new PlantLocationBLL(unitOfWork).GetAllPlantLocation().Where(x => x.IsDeleted == false && x.IsActive == true).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/lib/plugins/fontawesome-free/css/all.min.css">
    <style>
        .table-bordered > tbody > tr > td,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > td,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > thead > tr > th {
            border: 1px solid black !important;
            padding: 0 0 0 5px;
            font-family: Arial;
        }

        tr {
            page-break-inside: avoid;
        }

        td {
            word-wrap: break-word;
        }

        p.pagebreakhere {
            page-break-before: always
        }
    </style>
</head>
<body>
    @if (@Model.FirstOrDefault(x => x.PlantLocation.PlantLocationName == "SITE") != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div>
                                <table class="table-bordered" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
                                    <tbody>
                                        <tr style="height:15pt;">
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>SAMI Pharmaceuticals (Pvt.) Limited</span></strong></p>
                                            </td>
                                            <td colspan="3" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Title: Product Return Statement</span></strong></p>
                                            </td>
                                            <td colspan="4" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Return Address: @Model.First(x => x.PlantLocation.PlantLocationName == "SITE").PlantLocation.Address</strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>@Model.First().PlantLocation.PlantLocationName</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Department: Distribution</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Doc. No.: DIST/SOP/GEN/001-A</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Issue No.: 02</span></strong></p>
                                            </td>
                                            <td style="width:16.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Effective Date: 01 Jan, 2020</span></strong></p>
                                            </td>
                                            <td style="width:7.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Page No.: @(PageNo++)</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:8.7pt;">
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Customer Details</span></strong></p>
                                            </td>
                                            <td colspan="3" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Transport Details</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Return Details</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Code:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.DistributorSAPCode</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Transporter Name:</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Transporter</span></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Debit Note No.:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.DebitNoteNo</span></p>
                                            </td>
                                            <td rowspan="3" style="width:16.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong> </strong></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Total Claim Value in PKR:</span></strong></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong> </strong></p>
                                            </td>
                                            <td rowspan="3" style="width:7.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"> </p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TotalValue</span></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"> </p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Name:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.DistributorName</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>TR Number:</span></strong></p>
                                            </td>
                                            @if (@Model.First().OrderReturnMaster.OrderReturnReasonId == 3)
                                            {
                                                <td colspan="2" style=" vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TRNo</span></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td colspan="2" style=" vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.FirstOrDefault(x => x.PlantLocation.PlantLocationName == "SITE").TRNo</span></p>
                                                </td>
                                            }
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Debit Note Date:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.DebitNoteDate.ToString("dd-MMM-yyyy")</span></p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>City:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.City</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>TR Date:</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TRDate.ToString("dd-MMM-yyyy")</span></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Reason:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.OrderReturnReason.ReasonName</span></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table-bordered" cellpadding="0" cellspacing="0" style="width:100%;  border-collapse:collapse;">
                                    <tbody>
                                        <tr style="height:30.75pt;">
                                            <td style="width:4.26%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>S.No.</span></strong></p>
                                            </td>
                                            <td style="width:17.26%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Product Name</span></strong></p>
                                            </td>
                                            <td style="width:4.82%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Batch</span></strong></p>
                                            </td>
                                            <td style="width:5.96%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong> </strong><strong><span>MRP </span></strong></p>
                                            </td>
                                            <td style="width:6.86%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong> </strong><strong><span>Quantity </span></strong></p>
                                            </td>
                                            <td style="width:8.12%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Net Amount</span></strong></p>
                                            </td>
                                            <td style="width:6.34%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Mfg. Date</span></strong></p>
                                            </td>
                                            <td style="width:6.22%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Exp. Date</span></strong></p>
                                            </td>
                                            <td style="width:10.92%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Invoice No.</span></strong></p>
                                            </td>
                                            <td style="width:7.36%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Invoice Date</span></strong></p>
                                            </td>
                                            <td style="width:10.66%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Date of earlier Intimation</span></strong></p>
                                            </td>
                                            <td style="width:11.18%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Remarks</span></strong></p>
                                            </td>
                                        </tr>

                                        @foreach (var item in Model.Where(x => x.PlantLocationId == PlantLocationList.First(x => x.PlantLocationName == "SITE").Id))
                                        {
                                            <tr style="height:15pt;">
                                                <td style="width:4.26%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@(i++)</p>
                                                </td>
                                                <td style="width:17.26%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.ProductMaster.ProductDescription</p>
                                                </td>
                                                <td style="width:4.82%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.BatchNo</p>
                                                </td>
                                                <td style="width:5.96%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.MRP</p>
                                                </td>
                                                <td style="width:6.86%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.Quantity</p>
                                                </td>
                                                <td style="width:8.12%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.NetAmount</p>
                                                </td>
                                                <td style="width:6.34%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.ManufactureDate.ToString("MMM-yyyy")</p>
                                                </td>/
                                                <td style="width:6.22%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.ExpiryDate.ToString("MMM-yyyy")</p>
                                                </td>
                                                <td style="width:10.92%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span>@item.InvoiceNo</span></p>
                                                </td>
                                                <td style="width:7.36%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.InvoiceDate.ToString("dd-MMM-yyyy")</p>
                                                </td>
                                                <td style="width:10.66%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.IntimationDate.ToString("dd-MMM-yyyy") </p>
                                                </td>
                                                <td style="width:11.18%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.Remarks </p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
                                    <tbody>
                                        @if (Model.First().OrderReturnMaster.OrderReturnReasonId == 3)
                                        {
                                            <tr style="height:15pt;">
                                                <td colspan="4">
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Rainbow</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"></span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Galaxy</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"></span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Spectrum</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"> </span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Cardiometabolic </span></strong></p>
                                                </td>
                                                <td style="width:1.5%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"> </span></strong></p>
                                                </td>
                                                <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Biotech </span></strong></p>
                                                </td>
                                            </tr>
                                        }
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Distributor Sign Date:</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.46%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Manager Sign:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><span style="font-family:'Arial Narrow';">&nbsp;</span></p>
                                            </td>
                                            <td style="width:7.46%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Arial Narrow';">&nbsp;</span></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Name:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Stamp:</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.46%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Date:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (@Model.FirstOrDefault(x => x.PlantLocation.PlantLocationName == "SITE") != null)
    {
        <p class="pagebreakhere"></p>
    }
    @if (@Model.FirstOrDefault(x => x.PlantLocation.PlantLocationName == "Korangi") != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div>
                                <table class="table-bordered" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
                                    <tbody>
                                        <tr style="height:15pt;">
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>SAMI Pharmaceuticals (Pvt.) Limited</span></strong></p>
                                            </td>
                                            <td colspan="3" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Title: Product Return Statement</span></strong></p>
                                            </td>
                                            <td colspan="4" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Return Address: @Model.First(x => x.PlantLocation.PlantLocationName == "Korangi").PlantLocation.Address</strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>@Model.First().PlantLocation.PlantLocationName</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Department: Distribution</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Doc. No.: DIST/SOP/GEN/001-A</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Issue No.: 02</span></strong></p>
                                            </td>
                                            <td style="width:16.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Effective Date: 01 Jan, 2020</span></strong></p>
                                            </td>
                                            <td style="width:7.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Page No.: @(PageNo++)</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:8.7pt;">
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Customer Details</span></strong></p>
                                            </td>
                                            <td colspan="3" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Transport Details</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Return Details</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle; background-color:#bfbfbf;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Code:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.DistributorSAPCode</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Transporter Name:</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Transporter</span></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Debit Note No.:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.DebitNoteNo</span></p>
                                            </td>
                                            <td rowspan="3" style="width:16.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong> </strong></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Total Claim Value in PKR:</span></strong></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong> </strong></p>
                                            </td>
                                            <td rowspan="3" style="width:7.42%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"> </p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TotalValue</span></p>
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"> </p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Name:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.DistributorName</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>TR Number:</span></strong></p>
                                            </td>
                                            @if (@Model.First().OrderReturnMaster.OrderReturnReasonId == 3)
                                            {
                                                <td colspan="2" style=" vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TRNo</span></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td colspan="2" style=" vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.FirstOrDefault(x => x.PlantLocation.PlantLocationName == "Korangi").TRNo</span></p>
                                                </td>
                                            }
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Debit Note Date:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.DebitNoteDate.ToString("dd-MMM-yyyy")</span></p>
                                            </td>
                                        </tr>
                                        <tr style="height:16.5pt;">
                                            <td style="width:6.06%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>City:</span></strong></p>
                                            </td>
                                            <td style="width:16.1%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.Distributor.City</span></p>
                                            </td>
                                            <td style="width:13.48%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>TR Date:</span></strong></p>
                                            </td>
                                            <td colspan="2" style=" vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.TRDate.ToString("dd-MMM-yyyy")</span></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span>Reason:</span></strong></p>
                                            </td>
                                            <td style="width:12.56%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span>@Model.First().OrderReturnMaster.OrderReturnReason.ReasonName</span></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table-bordered" cellpadding="0" cellspacing="0" style="width:100%;  border-collapse:collapse;">
                                    <tbody>
                                        <tr style="height:30.75pt;">
                                            <td style="width:4.26%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>S.No.</span></strong></p>
                                            </td>
                                            <td style="width:17.26%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Product Name</span></strong></p>
                                            </td>
                                            <td style="width:4.82%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Batch</span></strong></p>
                                            </td>
                                            <td style="width:5.96%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong> </strong><strong><span>MRP </span></strong></p>
                                            </td>
                                            <td style="width:6.86%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong> </strong><strong><span>Quantity </span></strong></p>
                                            </td>
                                            <td style="width:8.12%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Net Amount</span></strong></p>
                                            </td>
                                            <td style="width:6.34%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Mfg. Date</span></strong></p>
                                            </td>
                                            <td style="width:6.22%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Exp. Date</span></strong></p>
                                            </td>
                                            <td style="width:10.92%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Invoice No.</span></strong></p>
                                            </td>
                                            <td style="width:7.36%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Invoice Date</span></strong></p>
                                            </td>
                                            <td style="width:10.66%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Date of earlier Intimation</span></strong></p>
                                            </td>
                                            <td style="width:11.18%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span>Remarks</span></strong></p>
                                            </td>
                                        </tr>

                                        @foreach (var item in Model.Where(x => x.PlantLocationId == PlantLocationList.First(x => x.PlantLocationName == "Korangi").Id))
                                        {
                                            <tr style="height:15pt;">
                                                <td style="width:4.26%; border-right-style:solid; border-right-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@(j++)</p>
                                                </td>
                                                <td style="width:17.26%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.ProductMaster.ProductDescription</p>
                                                </td>
                                                <td style="width:4.82%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.BatchNo</p>
                                                </td>
                                                <td style="width:5.96%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.MRP</p>
                                                </td>
                                                <td style="width:6.86%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.Quantity</p>
                                                </td>
                                                <td style="width:8.12%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">@item.NetAmount</p>
                                                </td>
                                                <td style="width:6.34%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.ManufactureDate.ToString("MMM-yyyy")</p>
                                                </td>/
                                                <td style="width:6.22%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.ExpiryDate.ToString("MMM-yyyy")</p>
                                                </td>
                                                <td style="width:10.92%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span>@item.InvoiceNo</span></p>
                                                </td>
                                                <td style="width:7.36%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.InvoiceDate.ToString("dd-MMM-yyyy")</p>
                                                </td>
                                                <td style="width:10.66%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.IntimationDate.ToString("dd-MMM-yyyy") </p>
                                                </td>
                                                <td style="width:11.18%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">@item.Remarks </p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                                <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
                                    <tbody>
                                        @if (Model.First().OrderReturnMaster.OrderReturnReasonId == 3)
                                        {
                                            <tr style="height:15pt;">
                                                <td colspan="4">
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Rainbow</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"></span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Galaxy</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"></span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Spectrum</span></strong></p>
                                                </td>
                                                <td style="width:1.52%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"> </span></strong></p>
                                                </td>
                                                <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Cardiometabolic </span></strong></p>
                                                </td>
                                                <td style="width:1.5%; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';"> </span></strong></p>
                                                </td>
                                                <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Biotech </span></strong></p>
                                                </td>
                                            </tr>
                                        }
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Distributor Sign Date:</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.46%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Manager Sign:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><span style="font-family:'Arial Narrow';">&nbsp;</span></p>
                                            </td>
                                            <td style="width:7.46%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Arial Narrow';">&nbsp;</span></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Name:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                        <tr style="height:15pt;">
                                            <td style="width:14.14%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Stamp:</span></strong></p>
                                            </td>
                                            <td style="width:7.88%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:7.46%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:14.3%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">Date:</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.52%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.02%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:1.5%; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                            <td style="width:10.06%; border-bottom-style:solid; border-bottom-width:0.75pt; vertical-align:middle;">
                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong><span style="font-family:'Arial Narrow';">&nbsp;</span></strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>