@model List<DistributorWiseProductDiscountAndPrices>
@inject IUnitOfWork iUnitOfWork
@{
    bool sync = SessionHelper.NavigationMenu.Where(x => x.ApplicationPage.ControllerName == "DistributorWiseProduct").Select(e => e.ApplicationActionId).Contains(Convert.ToInt32(ApplicationActions.Sync));
    var DistributorList = new DistributorBLL(iUnitOfWork).DropDownDistributorList(null);
    var ProductList = new ProductMasterBLL(iUnitOfWork).DropDownProductSAPCodeList();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2 class="card-title">Distributor Wise Product List</h2>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="DistributorWiseProduct"
                              asp-action="SyncDistributorWise"
                              id="frmAdd"
                              data-ajax-begin="Begin"
                              data-ajax-success="OnSuccess"
                              data-ajax-complete="Complete"
                              data-ajax-update="#divform"
                              data-ajax="true"
                              data-ajax-method="GET"
                              method="GET">
                            <div class="row">
                                <div class="col-md-7">
                                    <select name="DistributorId" asp-items="@(new SelectList(DistributorList, "Value", "Text"))" id="ddlDistributorId" class="form-control select2">
                                        <option value="All" selected="selected">--All--</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    @if (sync)
                                    {
                                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-sync"></i> Sync Distributor Wise</button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form asp-controller="DistributorWiseProduct"
                              asp-action="SyncProductWise"
                              id="frmSyncProduct"
                              data-ajax-begin="Begin"
                              data-ajax-success="OnSuccess"
                              data-ajax-complete="Complete"
                              data-ajax-update="#divform"
                              data-ajax="true"
                              data-ajax-method="GET"
                              method="GET">
                            <div class="row">
                                <div class="col-md-7">
                                    <select name="ProductIds" asp-items="@(new SelectList(ProductList, "Value", "Text"))" id="ddlProductId" multiple="multiple" class="form-control select2">
                                        <option value="All" disabled="disabled">--Select Product--</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    @if (sync)
                                    {
                                        <button type="button" onclick="return SyncProductWise()" class="btn btn-success pull-right"><i class="fa fa-sync"></i>&nbsp;Product Wise</button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Product Name</th>
                            <th>SAP Product Code</th>
                            <th>Rate</th>
                            <th>Discount</th>
                            <th>Product Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.SAPProductCode</td>
                                <td>@item.Rate</td>
                                <td>@item.Discount</td>
                                <td>@item.ProductPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var DistributorId = '@ViewBag.DistributorId';
        $('#ddlDistributorId').val(DistributorId);

        $('.select2').select2({
            width: '100%',
        });

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
            "order": [],
        });
    });

    function SyncProductWise() {
        debugger
        if ($("#ddlProductId option:selected").text() == "") {
            Toast.fire({ icon: 'error', title: 'Select atleast one product.' });
        }
        else {
            $('#frmSyncProduct').submit();
        }
    }


</script>