@model IEnumerable<ProductMaster>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Product List</h2>
                <form asp-controller="Product"
                      asp-action="Sync"
                      id="frmAdd"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="Complete"
                      data-ajax-update="#divform"
                      data-ajax="true"
                      data-ajax-method="GET"
                      method="GET">
                    <button type="submit" class="btn btn-success float-right"><i class="fa fa-sync"></i> Sync</button>
                </form>

                <a asp-controller="Product"
                   asp-action="ProductsExportToExcel"
                   asp-route-Id="@ProductEnum.ProductMaster"
                   id="frmImport"
                   class="btn btn-info float-right"
                   style="margin-right:15px">
                    <i class="fa fa-download"></i>
                    Export
                </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body scrollmenu">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Brand Name</th>
                            <th>Product Description</th>
                            <th>Pack Code</th>
                            <th>SAP Product Code</th>
                            @*<th>Discount</th>
                                <th>Rate</th>
                                <th>Trade Price</th>*@
                            <th>SF Size</th>
                            <th>Carton Size</th>
                            <th>Strength</th>
                            <th>Pack Size</th>
                            @*<th>Product Origin</th>
                                <th>Product Price</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.PackCode</td>
                                <td>@item.SAPProductCode</td>
                                @*<td>@item.Discount</td>
                                    <td>@item.Rate</td>
                                    <td>@item.TradePrice</td>*@
                                <td>@item.SFSize</td>
                                <td>@item.CartonSize</td>
                                <td>@item.Strength</td>
                                <td>@item.PackSize</td>
                                @*<td>@item.ProductOrigin</td>
                                    <td>@item.ProductPrice</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "responsive": true,
            "autoWidth": false,
        });
    });

</script>