@model UserSystemInfo

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">System Info</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="UserSystemInfo"
                      asp-action="SaveEdit"
                      id="frmUserSystemInfo"
                      data-ajax-update="#divform"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="MessageDisappear"
                      data-ajax="true"
                      data-ajax-method="POST"
                      autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <input asp-for="Id" type="hidden" />
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Distributor Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(e => e.DistributorId, Model.DistributorList, "--Please Select--", htmlAttributes: new { @class = "form-control select2" })
                                            <span asp-validation-for="DistributorId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Processor Id<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="ProcessorId" type="text" placeholder="Processor Id" class="form-control" />
                                            <span asp-validation-for="ProcessorId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Host Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="HostName" type="text" placeholder="Host Name" class="form-control" />
                                            <span asp-validation-for="HostName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">MAC Address<span class="text-danger"> * </span></label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Enter MAC Address" id="MACAddress" class="form-control" maxlength="50" />
                                            <span id="MACAddressRequired" class="text-danger"></span>
                                        </div>
                                        <button type="button" id="LclAddRow" class="btn btn-sm btn-info col-lg-1" style=" height: 38px;">Add</button>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Is Active</label>
                                        <div class="col-lg-9">
                                            <input style="margin-top: 13px" asp-for="IsActive" type="checkbox" id="IsActive"><i></i>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">MAC Address</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.UserSystemInfoDetail != null)
                                                    {
                                                        for (int i = 0; i < Model.UserSystemInfoDetail.Count; i++)
                                                        {
                                                            @if (!string.IsNullOrEmpty(Model.UserSystemInfoDetail[i].MACAddress))
                                                            {
                                                                <tr class="@(Model.UserSystemInfoDetail[i].IsRowDeleted == true ? "d-none" : null )">
                                                                    <td class="text-center">
                                                                        @Html.HiddenFor(x => x.UserSystemInfoDetail[i].Id)
                                                                        @Html.TextBoxFor(x => Model.UserSystemInfoDetail[i].MACAddress, new { @class = "d-none" }) @Model.UserSystemInfoDetail[i].MACAddress
                                                                    </td>
                                                                    <td class="d-none">@Html.TextBoxFor(x => Model.UserSystemInfoDetail[i].IsRowDeleted, new { @class = "d-none" }) @Model.UserSystemInfoDetail[i].IsRowDeleted</td>
                                                                    <td class="row justify-content-center">
                                                                        <button type="button" id="btnDeleteLcl" class="btn btn-default float-right" value="Delete">Delete</button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 ">
                                            <button class="btn btn-sm btn-success float-right" type="submit" onclick="Save();">
                                                Save
                                            </button>
                                            <a data-ajax-update="#divform"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               asp-controller="UserSystemInfo" asp-action="List"
                                               class="btn btn-sm btn-default float-right mr-3">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    var MACAddressArr = [];
    var message = '@((string)TempData["Message"])';

    var MessageDisappear = function (data) {

        if (message != "") {
            Toast.fire({
                icon: 'error',
                title: message
            });
            message = '';
        }
        UnBlockUI();
    }

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
        });

        @if (Model.UserSystemInfoDetail != null)
	    {
            @foreach (var d in Model.UserSystemInfoDetail.Where(x => x.IsRowDeleted == false))
            {
                @:MACAddressArr.push("@d.MACAddress");
            }
	    }

        //add mac address to grid
        $("#LclAddRow").click(function () {
            var LclCount = $('#example1 tbody tr').length;
            $("#MACAddressRequired").empty();

            var MACAddress = $("#MACAddress").val().trim();
            var IsRowDeleted = false;

            if (MACAddress === '') {
                $("#MACAddressRequired").text('MAC Address is required');
                return false;
            }
            if (MACAddressArr.indexOf(MACAddress) !== -1) {
                $("#MACAddressRequired").text('MAC Address already exists');
                return false;
            } else {
                MACAddressArr.push(MACAddress);
            }

            var LclMarkup = '<tr> \
            <td class="text-center"><label id="' + LclCount + '">' + MACAddress + '</label><input style="display:none;" id="UserSystemInfoDetail_' + LclCount + '__MACAddress" name="UserSystemInfoDetail[' + LclCount + '].MACAddress" type="text" value="' + MACAddress + '" ></td> \
          <td class="d-none" style="display:none;"><label id="' + LclCount + '">' + IsRowDeleted + '</label><input style="display:none;" id="UserSystemInfoDetail_' + LclCount + '__IsRowDeleted" name="UserSystemInfoDetail[' + LclCount + '].IsRowDeleted" type="text" value="' + IsRowDeleted + '" ></td> \
            <td class="row justify-content-center"><button type="button" id="btnDeleteLcl" class="btn btn-default float-right"" value="Delete">Delete</button></td></tr>';
            $("#example1 tbody").append(LclMarkup);

            $("#MACAddress").val('');
        });

        $("#example1").on("click", "#btnDeleteLcl", function () {

            var LclcurrentRow = $(this).closest("tr");
            MACAddressArr.splice(MACAddressArr.indexOf(LclcurrentRow.find('td:nth-child(1)').find(':input').val()), 1);
            LclcurrentRow.find('td:nth-child(2)').find(':input').val(true);
            $(LclcurrentRow).hide();
        });

    });
</script>