@model TaxChallan
@{ ViewBag.Title = "View Tax Challan"; }

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary defaultColor">
                        <div class="card-header">
                            <h3 class="card-title">Distributor Information</h3>
                        </div>
                        <div class="card-body" style="padding: 10px 0px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Name:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorName</strong></span>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>City:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.City</strong></span>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <h6>Code:</h6>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <span><strong>@Model.Distributor.DistributorSAPCode</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">TaxChallan Value</h3>
                            @if (Model.Id > 0)
                            {
                                @if (Model.Status == TaxChallanStatus.Verified)
                                {
                                    <span class="badge badge-success pull-right" style="margin-left:5px;">@Model.Status</span>
                                }
                                else if (Model.Status == TaxChallanStatus.Unverified)
                                {
                                    <span class="badge badge-warning float-left" style="margin-left:5px;">@Model.Status</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger float-left" style="margin-left:5px;">@Model.Status</span>
                                }
                            }
                            <span class="float-right"><strong>TaxChallan No: @Model.SNo</strong></span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>CPR No<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="CPRNo" class="form-control" />
                                    <span asp-validation-for="CPRNo" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>CPR Date</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" data-target-input="nearest">
                                        <input type="text" asp-for="CPRDate" value="@Model.CPRDate.ToString("dd/MMM/yyyy")" readonly="readonly" id="CPRDate" class="form-control datepicker" style="background-color: #e9ecef !important;" />
                                        <div class="input-group-append" data-target="#CPRDate" data-toggle="datepicker" id="input-group-append-CPRDate">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="CPRDate" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Payment Section<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select asp-for="PaymentSection" asp-items="@(new SelectList(Model.PaymentSectionList, "Value", "Text"))" class="form-control select2">
                                        <option value="">--Select option--</option>
                                    </select><br />
                                    <span asp-validation-for="PaymentSection" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Tax Period</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group date" data-target-input="nearest">
                                        <input type="text" asp-for="TaxPeriod" value="@Model.CPRDate.ToString("MMM/yyyy")" readonly="readonly" id="TaxPeriod" class="form-control Monthdate" />
                                        <div class="input-group-append" data-target="#TaxPeriod" data-toggle="Monthdate" id="input-group-append-TaxPeriod">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="TaxPeriod" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Amount On Which Tax Is On Witheld<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="AmountOnTaxWitheld" value="@(Model.Id == 0 ? "" : Model.AmountOnTaxWitheld.ToString())" min="0" maxlength="9" pattern="\d*" oninput="validity.valid||(value='');" class="form-control" id="Amount" />
                                    <span asp-validation-for="AmountOnTaxWitheld" class="text-danger"></span>
                                    <span class="text-info" id="AmountInWords"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Tax Amount<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="TaxAmount" value="@(Model.Id == 0 ? "" : Model.TaxAmount.ToString())" min="0" maxlength="9" pattern="\d*" oninput="validity.valid||(value='');" class="form-control" id="TaxAmount" />
                                    <span asp-validation-for="TaxAmount" class="text-danger"></span>
                                    <span class="text-info" id="TaxAmountInWords"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Attachment<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <span class="caption">
                                        <a asp-action="GetFile" asp-controller="Home" asp-route-filepath="@(Model.Attachment != null ? Model.Attachment : "")" target="_blank">@(Model.Attachment != null ? Model.Attachment.Split('_')[1] : "")</a>
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0">
                                    <h6>Remarks<span class="text-danger"> * </span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" asp-for="Remarks" class="form-control" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 pull-right">
                                    @if (TempData["RedirectURL"] != null)
                                    {
                                        <a href="@((string)TempData["RedirectURL"])" class="btn btn-secondary float-right mr-3">
                                            Back
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="TaxChallan" asp-action="Index" class="btn btn-secondary float-right mr-3">
                                            Back
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    $(".datepicker").datepicker({
        autoclose: true,
        orientation: 'bottom',
        endDate: new Date()
    });

    $('.Monthdate').datepicker({
        format: "MM/yyyy",
        viewMode: "months",
        minViewMode: "months",
        autoclose: true,
        odayHighlight: true,
        endDate: '+0d',
    });

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
        });

        $(".container-fluid :input, input-group-append").not("[name=btnSubmit]").attr("disabled", true);
        $('#AmountInWords').html(inWords(@Model.AmountOnTaxWitheld));
        $('#TaxAmountInWords').html(inWords(@Model.TaxAmount));
    });

</script>
